.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    float:left; 
    padding:5px 10px;
    vertical-align: middle;
    width:200px;
}
.input-group-btn{
    float:left; 
    padding:5px 10px;
    vertical-align: middle;
}
/*
.input-filtro{
    float:left; 
    padding:5px 10px;
    vertical-align: middle;
    width:200px;
}
.input-filtro-button{
    float:left; 
    padding:5px 10px;
    vertical-align: middle;
    width:120px;
}*/