<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
        <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
      </div>
      <div class="content-body">
        <section id="selection-n-deletion">
          <div class="row">
  
            <div class="col-12">
              <form [formGroup]="filtroForm">
                <div class="row" style="margin-bottom: -0.5rem;">
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-append">
                        <span class="input-group-text">Sedes</span>
                      </div>
                      <select
                        class="form-control form-select"
                        formControlName="sede"
                        id="sede"
                      >
                        <option value="0000">Todos</option>
                        <option value="0001">Lima</option>
                        <option value="0002">Chorrillos</option>
                        <option value="0004">Surco</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-append">
                        <span class="input-group-text">Tipo Lista</span>
                      </div>
                      <select
                        class="form-control form-select"
                        formControlName="tipoLista"
                        id="tipoLista"
                        style="width:150px !important;"
                      >
                        <option value="TR">Aplica Tarifa</option>		
                        <option value="ES">Especifica</option>		
                        <option value="NO" selected="selected">Normal</option>		
                        <option value="NR">NO RELACIONADOS</option>		
                        <option value="00">Todas</option>	
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-append">
                        <span class="input-group-text">Tipo Tarifario</span>
                      </div>
                      <select
                        class="form-control form-select"
                        formControlName="tipoTarifario"
                        id="tipoTarifario"
                        style="width:190px !important;"
                      >
                        <option value="SG" selected="selected">SEGUS</option>		
                        <option value="SP">SALUDPOL</option>		
                        <option value="PA">PACIFICO</option>		
                        <option value="RI">RIMAC</option>		
                        <option value="IN">INSTITUCIONAL / PRIVADO</option>		
                        <option value="NR">NO RELACIONADOS</option>		
                        <option value="00">Todas</option>	
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-append">
                        <span class="input-group-text">Tipo Matriz</span>
                      </div>
                      <select
                        class="form-control form-select"
                        formControlName="tipoMatriz"
                        id="tipoMatriz"
                        style="width:110px !important;"
                      >
                      <option value="N">Normal</option>		
                      <option value="C">Completa</option>	
                    </select>
                    </div>
                  </div>
                  
                </div>
                <div class="row pt-2">
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-append">
                        <span class="input-group-text">Servicio</span>
                      </div>
                      <select
                        class="form-control form-select"
                        formControlName="tipoServicio"
                        id="tipoServicio"
                        style="width:150px !important;"
                      >
                      <option value="6">LABORATORIO</option>		
                      <option value="25">DENTAL</option>		
                      <option value="999">IMAGENES</option>		
                      <option value="0">Todas</option>	
                    </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Código</span>
                        </div>
                        <input
                            type="text"
                            formControlName="idComponente"
                            class="form-control"
                          />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Componente</span>
                        </div>
                        <input
                          type="text"
                          formControlName="Componente"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-2">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button (click)="filter()" class="btn btn-sm btn-primary">
                          <i class="fa fa-search"></i> Filtrar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">{{title}}</h4>
                  <p>{{message}}</p>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <!-- <a class="btn btn-primary" id="downloadLink" (click)="exportexcel()">Exportar tabla a Excel</a>
                    <a class="btn btn-primary" id="downloadLink" (click)="copyTableToClipboard()">Copiar tabla</a> -->
                    
                    <div class="table table-striped table-bordered selection-deletion-row">
                      <!-- <div class="row" style='margin-left:0px;'>
                        <div class="col-xs-6">
                          <select class="form-control form-select" (change)="onLimitChange($event.target.value)">
                            <option
                              *ngFor="let option of pageLimitOptions"
                              [value]="option.value"
      
                            >
                              {{ option.value }} Registros
                            </option>
                            <option value="0" *ngIf="this.page.totalElements">Todos los Registros</option>
                          </select>
                        </div>
                      </div> -->
                        <div class="row" style="align-items: center;justify-content: space-between;">
                          <ul class="list-group list-group-horizontal list-group-flush">
                            <li class="list-group-item border-0 pl-0">
                              <select class="form-control form-select" (change)="onLimitChange($event.target.value)">
                                <option
                                  *ngFor="let option of pageLimitOptions"
                                  [value]="option.value"
          
                                >
                                  {{ option.value }} Registros
                                </option>
                                <option value="0" *ngIf="this.page.totalElements">Todos los Registros</option>
                              </select>
                            </li>
                            <li class="list-group-item border-0 pl-0">
                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard()">
                                <i class="fa fa-external-link"></i>
                                Copiar tabla
                              </button>
                            </li>
                            <li class="list-group-item border-0 pl-0">
                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel()">
                                <i class="fa fa-external-link"></i>
                                Exportar tabla a Excel
                              </button>
                            </li>
                          </ul>
                          <div class="" style="display:flex;margin:15px;align-items: center;">
                            <span>Buscar</span>&nbsp;&nbsp;
                              <input type="text" style='padding:6px;width:100%;' placeholder="por cualquier campo" (keyup)='updateFilter($event)'>
                          </div>
                        
                      </div>
                      
                      
                      <ngx-datatable #myTable
                      class="bootstrap table table-striped"
                      id="datatablele"
                        [columns]="columns"
                        [rows]="rows"
                        [columnMode]="initialSize > 1250 ? ColumnMode.flex : ColumnMode.force"
                        [headerHeight]="$any('auto')"
                        [footerHeight]="65"
                        [rowHeight]="$any('auto')"
                        [scrollbarH]="true"
                        [count]="page.totalElements"
                        [offset]="page.pageNumber"
                        [limit]="page.size"

                        >
                        <ngx-datatable-column  [flexGrow]="1" [minWidth]="90" *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                            let-row="row">
                            <span [title]="value">{{value}}</span>
                            <!-- <span title="Double click to edit" (dblclick)="editing[rowIndex + '-{{column.name}}'] = true"
                              *ngIf="!editing[rowIndex + '-{{column.name}}']">
                              {{value}}
                            </span>
                            <input autofocus (blur)="updateValue($event, '{{column.name}}', rowIndex)"
                              *ngIf="editing[rowIndex+ '-{{column.name}}']" type="text" [value]="value" /> -->
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  
