<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="selection-n-deletion">
        <div class="row">

          <div class="col-12">
            <form [formGroup]="filtroForm">
              <div class="row">
                <div class="form-group col-sm-12 col-md-4 col-lg-3">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">F.Inicio</span>
                    </div>
                    <input
                      type="date"
                      formControlName="inicio"
                      class="form-control"
                    />
                  </div>
                </div>
    
                <div class="form-group col-sm-12 col-md-4 col-lg-3">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">F.Fin</span>
                    </div>
                    <input
                      type="date"
                      formControlName="final"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-3">
                  <div class="input-group input-group-sm">
                    <div class="input-group-append">
                      <span class="input-group-text">Sedes</span>
                    </div>
                    <select
                      class="form-control form-select"
                      formControlName="sedes"
                      id="inputGroupSelect04"
                    >
                      <option value="NA">Todos</option>
                      <option value="0001">Lima</option>
                      <option value="0002">Chorrillos</option>
                      <option value="0004">Surco</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-3">
                  <div class="input-group input-group-sm">
                    <div class="input-group-append">
                      <span class="input-group-text">Tipos de Paciente</span>
                    </div>
                    <select
                      class="form-control form-select"
                      formControlName="sedes"
                      id="inputGroupSelect04"
                    >
                      <option value="NA">Todos</option>
                      <option value="0001">Lima</option>
                      <option value="0002">Chorrillos</option>
                      <option value="0004">Surco</option>
                    </select>
                  </div>
                </div>
                
              </div>
              <div class="row pt-2">
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Empresa</span>
                      </div>
                      <input
                          type="text"
                          formControlName="area"
                          class="form-control"
                        />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Especialidad</span>
                      </div>
                      <input
                        type="text"
                        formControlName="area"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Médico</span>
                      </div>
                      <input
                        type="text"
                        formControlName="apellidos"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Paciente</span>
                      </div>
                      <input
                        type="text"
                        formControlName="apellidos"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <button (click)="filter()" class="btn btn-sm btn-primary">
                        <i class="fa fa-search"></i> Filtrar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Row Editing Content </h4>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <p>{{message}}</p>
                  <br />
                  <div class="table table-striped table-bordered selection-deletion-row">

                    <ngx-datatable class="bootstrap"
                      [columns]="columns"
                      [rows]="rows" 
                      [limit]="7" 
                      fxFlex="auto" 
                      [perfectScrollbar]="config"
                      [loadingIndicator]="loadingIndicator"
                      [columnMode]="'force'" 
                      [headerHeight]="50" 
                      [footerHeight]="50" 
                      [rowHeight]="'auto'"
    style="width: 100%; overflow-x:visible;"

                      >
                      <ngx-datatable-column  [flexGrow]="1" [minWidth]="90" *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                          let-row="row">
                          {{value}}
                          <!-- <span title="Double click to edit" (dblclick)="editing[rowIndex + '-{{column.name}}'] = true"
                            *ngIf="!editing[rowIndex + '-{{column.name}}']">
                            {{value}}
                          </span>
                          <input autofocus (blur)="updateValue($event, '{{column.name}}', rowIndex)"
                            *ngIf="editing[rowIndex+ '-{{column.name}}']" type="text" [value]="value" /> -->
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->
