
// .row-background{
//     background:red;
// }
.toggle-table{
    display: flex;
    /* position: relative; */
    flex-direction: row;
    justify-content: space-between;
}
.box-title{
    font-size: 1rem!important;
    font-weight: 500;
}


.info-box-content{
    display: flex;
    flex-direction: column;
    padding:5px 10px;
}

.info-box-icon{
    // border-top-left-radius:2px;
    // border-top-right-radius:0;
    // border-bottom-right-radius:0;
    // border-bottom-left-radius:2px;
    display:block;float:left;
    height:80px;width:90px;
    text-align:center;
    font-size:45px;
    line-height:80px;
    background:rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.info-box-number{
    display:block;
    font-weight:bold;
    font-size:15px;
    height:10px;
}
.info-box-text{
    display:block;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-transform:uppercase;
}
.widget-user-username{
   font-size: 15px;
}
.label-success{
    color:#fff!important;
    position: relative; top: 13px; font-size: 12px;
    background-color:#00a65a!important;
    padding: 5px;
    border-radius: 5px;
}
.info-box{
clear: both;
margin: 1rem 0;
}
// @media screen and (min-width: 1024px) {
//     #div_panel_01_cabecera1, .info-box{
//         display: flex;
//     }
//     .closed-sidebar .app-main__outer {
//         padding-top: 0px!important;
//     }
// }
.question {
    background: RGB(255,170,0);
    color: RGB(16,0,76);
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    // background-color: #777;
    border-radius: 10px;
}
// canvas {
//     background-color: #D6D7D9
//   }

.widget-user-header, .description-block{
text-align: center;
}
.box.box-widget{
    margin: 10px 0;
}
.widget-user-header{
    padding: 10px 50px;
    border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.callout.callout-info, .widget-user-desc{
    font-size: 14px;
}
.box-footer{
background-color: #EBEEF3;
padding: 10px 20px;
border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.description-header{
    font-weight: 500;
}