<div class="card" >
  <div class="card-body">
    <img src="https://www.maisondesante.org.pe/encuestas/assets/portada.png" alt="img-portada">
    <div class="flex flex-row justify-between p-0 m-0">
      <h2 class="text-4xl font-bold text-[#10004c] p-0 m-0">Resultados de la encuesta</h2>
      <button type="button"
        class="mt-4 border rounded-md py-3 px-6 text-xl text-[#10004c] hover:text-slate-50 font-bold hover:bg-blue-900 "
        (click)="refresh()">
        Actualizar
      </button>
      <button type="button"
        class="mt-4 border rounded-md py-3 px-6 text-xl text-[#10004c] hover:text-slate-50 font-bold hover:bg-blue-900 "
        (click)="returnForm()">
        Regresar
      </button>
      <div>
        {{ data }} 
        <span *ngFor="let item of data ">{{item.registro_fecha | date:'yyyy-MM-dd'}}</span>
      </div>
      <!-- <div>
        <ngx-spinner bdColor="rgba(255,255,255) " size="medium" color="#fff" type="ball-scale-multiple"
          template="<img src='https://www.maisondesante.org.pe/encuestas/assets/LOGO_CMS.gif' />">
        </ngx-spinner>
      </div> -->
    </div>
   <!--  <div class="row mt-4">
      <div class="col">
        <div [style]="style">
         <ag-grid-angular>
        </ag-grid-angular> 
        </div>
      </div>
    </div> -->
    <table >
      <thead >
        <tr >
          <th>Fecha</th>
          <th>Hora</th>
          <th>Sede</th>
          <th>Origen de Atención</th>
          <th>Tipo de Paciente</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data ">
          <td>{{item.registro_fecha | date:'yyyy-MM-dd'}}</td>
          <td>{{item.registro_fecha | date:'HH:mm:ss' }}</td>
          <td>{{item.sucursal}}</td>
          <td>{{item.modalidad}}</td>
          <td>{{item.paciente}}</td>

        </tr>

      </tbody>
    </table>
  </div>