<div class="card">
    <div class="card-body">
      <form [formGroup]="formSearch">
        <div class="form-row">
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="condF_FIni">Fecha Inicio</label
                  ><input
                    id="condF_FIni"
                    formControlName="condF_FIni"
                    type="date"
                    class="form-control-sm form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="condF_FFin">Fecha Final</label
                  ><input
                    id="condF_FFin"
                    formControlName="condF_FFin"
                    type="date"
                    class="form-control-sm form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label for="condSede">Sedes</label
                  ><select
                    formControlName="condSede"
                    class="form-control-sm form-control"
                  >
                    <option value="F">TODAS</option>
                    <option value="1">Lima</option>
                    <option value="2">Chorrillos</option>
                    <option value="4">Surco</option>
                    <option value="5">Olguin</option>
                    <option value="6">Tinajones</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label for="condFiltro">Paciente</label
                  ><input
                    id="condFiltro"
                    formControlName="condFiltro"
                    placeholder=""
                    type="text"
                    class="form-control-sm form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label for="condExamen">Tipo de Examen</label
                  ><select
                    formControlName="condExamen"
                    class="form-control-sm form-control"
                  >
                    <option value="Mamografía">Mamografía</option>
                    <option value="Ecografía">Ecografía</option>
                    <option value="Rayos X">Rayos X</option>
                    <option value="Tomografía">Tomografía</option>
                    <option value="Densitometria Osea">Densitometria Osea</option>
                    <option value="Biopsia">Biopsia</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label for="condPrograma">Tipo de Paciente</label
                  ><select
                    formControlName="condPrograma"
                    class="form-control-sm form-control"
                  >
                    <option value="4">Afiliación Colectiva</option>
                    <option value="24">Afiliacion Colectiva Dorada</option>
                    <option value="7">Cia. de Seguros</option>
                    <option value="28">Club 110 RBC</option>
                    <option value="11">Consejo Directivo</option>
                    <option value="6">Convenio</option>
                    <option value="10">Familia del Trabajador</option>
                    <option value="20">Hogar Geriátrico</option>
                    <option value="1">Institucional</option>
                    <option value="13">Ley de Emergencia</option>
                    <option value="27">Listos para el Colegio</option>
                    <option value="15">Madre - Niño</option>
                    <option value="14">Paciente de Cortesia</option>
                    <option value="2">Privado</option>
                    <option value="12">Programa de Beneficencia</option>
                    <option value="5">Protección Escolar</option>
                    <option value="19">Salud Sin Fronteras</option>
                    <option value="16">Sante Card</option>
                    <option value="29">SFB - Salud Ocupacional</option>
                    <option value="8">Socios SFB</option>
                    <option value="3">Tarjeta Clásica</option>
                    <option value="21">Tarjeta Diamante</option>
                    <option value="18">Tarjeta Dorada</option>
                    <option value="31">Tarjeta Platino</option>
                    <option value="9">Trabajador</option>
                    <option value="26">Vecino Surcano Preferencial</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label for="condPlaca">Nro. Orden</label
                  ><input
                    id="condPlaca"
                    formControlName="condPlaca"
                    placeholder=""
                    type="text"
                    class="form-control-sm form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-btn" style="padding-top: 1.7rem !important;">
                        <button
                        (click)="filter()"
                        class="mb-2 mr-2 btn btn-primary btn-sm"
                        >
                        <i class="pe-7s-search"> </i> Procesar
                        </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </form>
    </div>
  </div>
  
  <div class="main-card mb-3 card">
    <div class="card-header">
      <div
        class="card-header-title font-size-lg text-capitalize font-weight-normal"
      >
        <!-- <select
          class="custom-select"
          style="width: auto"
          [(ngModel)]="pageSize"

        >
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
          <option [ngValue]="150">150</option>
        </select> -->
        <select class="custom-select" style="width: auto" [ngModel]="optionSize" (change)="onLimitChange($event.target.value)">
          <option
            *ngFor="let option of pageLimitOptions"
            [value]="option.value"

          >
            {{ option.value }} Registros
          </option>
          <option value="{{this.page.totalElements}}"  *ngIf="this.page.totalElements">Todos los Registros</option>
        </select>
      </div>
    </div>
    <div class="table-responsive p-4">
      <ngx-datatable #myTable
      class="bootstrap table table-striped"
      id="datatablele"
        [columns]="columns"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="$any('auto')"
        [footerHeight]="65"
        [rowHeight]="$any('auto')"
        [scrollbarH]="true"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)"
        [selected]="selected"
        [selectionType]="SelectionType.single"

        >
        <ngx-datatable-column  [flexGrow]="1" [minWidth]="90" [headerClass]="column.headerClass" [cellClass]="column.cellClass" *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
            let-row="row">
            <div *ngIf="column.prop !== 'id_informe'">
              <span  [title]="value">{{value}}</span>
            </div>
            <div *ngIf="column.prop === 'id_informe' && row.responsable">
              <!-- <span  [title]="value"><a href="javascript:;" (click)="onSelect($event, content)" style="color: #007ad7;">{{value}}</a></span> -->
              <span  title="ver informe"><a href="javascript:;" (click)="onSelect(row)" class="btn-shadow btn btn-outline-secondary"><i class="pe-7s-look btn-icon-wrapper"></i></a></span>
            </div>
            <div *ngIf="column.prop === 'id_informe' && !row.responsable">
              <!-- <span  [title]="value"><a href="javascript:;" (click)="onSelect($event, content)" style="color: #007ad7;">{{value}}</a></span> -->
              <span  title="no hay informe"><a href="javascript:;" class="btn-shadow btn btn-outline-danger"><i class="pe-7s-close btn-icon-wrapper"></i></a></span>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  
