
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
        <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
      </div>
      <div class="content-body">
        <section id="selection-n-deletion">
          <div class="row">

            <div class="col-12">
              <form [formGroup]="filtroForm">
                <div class="row" style="margin-bottom: -0.5rem;">
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-append">
                        <span class="input-group-text">Sedes</span>
                      </div>
                      <select
                        class="form-control form-select"
                        formControlName="id_sede"
                        id="inputGroupSelect04"
                      >
                        <option value="0000">Todos</option>
                        <option value="0001">Lima</option>
                        <option value="0002">Chorrillos</option>
                        <option value="0004">Surco</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Año</span>
                      </div>

                      <select formControlName="anio" class="form-control form-select">
                        <option
                          *ngFor="let option of optionsAnio"
                          [value]="option.value"
                        >
                          {{ option.label }}
                        </option>
                    </select>
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-4 col-lg-3">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Mes</span>
                      </div>

                      <select formControlName="mes" class="form-control form-select">
                        <option
                          *ngFor="let option of optionsMes"
                          [value]="option.value"
                        >
                          {{ option.label }}
                        </option>
                    </select>
                    </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-4 col-lg-2">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button (click)="filter()" class="btn btn-sm btn-primary">
                          <i class="fa fa-search"></i> Filtrar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="justify-content: end;">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>CONSOLIDADO</a>

                  <ng-template ngbNavContent>
                    <app-reporte
                        [id]="'tabla_tpac'"
                        [copiar]="true"
                        [tituloReporte]="'Distribución por Tipo de Paciente Agrupado'"
                        [datos]="this.datosConsolidado.tabla_consolidado"
                        [cabecera]="this.datosConsolidado.cabeceras_consolidado"
                    ></app-reporte>

                    {{ this.datosConsolidado.tabla_consolidado | json }}
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>CONSULTA</a>
                  <ng-template ngbNavContent>
                    CONSULTA
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>LABORATORIO</a>
                    <ng-template ngbNavContent>
                      LABORATORIO
                    </ng-template>
                </li>
              </ul>

              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
