<div class="card">
    <div class="card-header-info">
      <div class="box-header">
        <div class="toggle-table">
          <div class="callout callout-info">
            <h3 class="box-title">{{ title }}</h3>
          </div>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            <i class="fa fa-minus" *ngIf="!isCollapsed"></i>
            <i class="fa fa-plus" *ngIf="isCollapsed"></i>
          </button>
        </div>
      </div>
    </div>
    <div [ngbCollapse]="isCollapsed">
      <ng-content></ng-content>
    </div>
  </div>
  