<div class="text-center">
  <div
    class="btn-group-sm btn-group btn-group-toggle"
    ngbRadioGroup
    name="radioBasic"
    [(ngModel)]="model"
  >
    <label ngbButtonLabel class="btn-gray">
      <input ngbButton type="radio" (click)="showComponent(2)" [value]="1" /><i
        class="fa fa-fw"
        aria-hidden="true"
        title="th-list"
        ></i
      >
      Lista de Reclamos
    </label>
    <label ngbButtonLabel class="btn-gray">
      <input
        ngbButton
        type="radio"
        (click)="showComponent(1)"
        value="middle"
      /><i class="fa fa-fw" aria-hidden="true" title="book"></i>
      Registro de Reclamos
    </label>
    <label ngbButtonLabel class="btn-gray">
      <input
        ngbButton
        type="radio"
        (click)="showComponent(3)"
        [value]="false"
      /><i class="fa fa-fw" aria-hidden="true" title="tachometer"></i>
      Dashboard
    </label>
  </div>
</div>
<!--Lista de Reclamos-->
<app-list-ipres *ngIf="listclaims"></app-list-ipres>
<!--Registro de Reclamos-->
<app-register-ipress *ngIf="showformclaims"></app-register-ipress>
<!--Dashboard-->
<app-dashboard-ipress *ngIf="dashboard"></app-dashboard-ipress>
