<ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs" style="justify-content: end;">
    <li *ngFor="let tab of tabs" [ngbNavItem]="tab.id">
      <a ngbNavLink>{{ tab.label }}</a>
      <ng-template ngbNavContent>
        <ng-container *ngIf="isActiveTab(tab.id)">
          <ng-container [ngTemplateOutlet]="tab.template"></ng-container>
        </ng-container>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <ng-template #planillaTemplate>
    <app-card [message]="message">
        <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush">
              <li class="list-group-item border-0 pl-0">
                <button type="button" (click)="showTableDasboard(1, 0)"
                  class="btn-shadow mr-3 btn btn-info">
                  <i class="pe-7s-credit"></i>
                </button>
                <button type="button" (click)="showTableDasboard(1, 1)" class="btn-shadow btn btn-info float-right">
                  <i class="pe-7s-graph3"></i>
                </button>
              </li>
            </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico1">
        <loading *ngIf="isLoading1">{{ isLoading1 }}</loading>
        <div class="d-block" *ngIf="!isLoading1">
            <app-barchar 
            [chartData]="data" [chartOptions]="options"  [context]="context1"
            ></app-barchar>
        </div>
        </div>
        <ngx-datatable *ngIf="isTable1" #myTable0 class="bootstrap table table-striped" id="datatablele" 
        [columns]="columns1"
        [rows]="rows1" 
        [columnMode]="ColumnMode.force" 
        [headerHeight]="50" 
        [rowHeight]="$any('auto')"
        [scrollbarH]="true" 
        [rowClass]="getRowClass"
        >
        <ngx-datatable-column [headerClass]="column.headerClass"
        [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
        [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns1; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
            </div>
            </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>

        <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush">
              <li class="list-group-item border-0 pl-0">
                <button type="button" (click)="showTableDasboard(2, 0)"
                  class="btn-shadow mr-3 btn btn-info">
                  <i class="pe-7s-credit"></i>
                </button>
                <button type="button" (click)="showTableDasboard(2, 1)" class="btn-shadow btn btn-info float-right">
                  <i class="pe-7s-graph3"></i>
                </button>
              </li>
            </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico2">
        <loading *ngIf="isLoading2">{{ isLoading2 }}</loading>
        <div class="d-block" *ngIf="!isLoading1">
            <app-barchar 
            [chartData]="data" [chartOptions]="options"  [context]="context2"
            ></app-barchar>
        </div>
        </div>
        <ngx-datatable *ngIf="isTable2" #myTable0 class="bootstrap table table-striped" id="datatablele" 
        [columns]="columns2"
        [rows]="rows2" 
        [columnMode]="ColumnMode.force" 
        [headerHeight]="50" 
        [rowHeight]="$any('auto')"
        [scrollbarH]="true" 
        [rowClass]="getRowClass"
        [summaryRow]="enableSummary"
        [summaryPosition]="summaryPosition"
        [summaryHeight]="35"
        >
        <ngx-datatable-column [headerClass]="column.headerClass"
        [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
        [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns2; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
            </div>
            </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>
    </app-card>
    <app-card [message]="message">
        <app-accordion titulo="PLANILLAS - SUBSIDIOS">
          <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush col-lg-5">
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(3)">
                  <i class="fa fa-external-link"></i>
                  Copiar tabla
                </button>
              </li>
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(3)">
                  <i class="fa fa-external-link"></i>
                  Exportar tabla a Excel
                </button>
              </li>

            </ul>              
            <div *ngFor="let checkBoxesOp of checkBoxesOps1; let i = index" class="col-lg-2 checkbox">
                <input type="checkbox" id="{{checkBoxesOp.id}}"
                [checked]="checkBoxesOps1[i].value"
                (click)="selection(checkBoxesOp, checkBoxesOp.id, 1);"/>
                <label for="{{checkBoxesOp.id}}"><span>{{checkBoxesOp.label}}</span></label>
            </div> 

          </div>
          <ngx-datatable #myTable3
          class="bootstrap table table-striped"
          id="datatablele"
            [columns]="columns3"
            [rows]="rows3filtered"
            [columnMode]="ColumnMode.force"
            [headerHeight]="$any('auto')"
            [rowHeight]="$any('auto')"
            [scrollbarH]="true"
            [rowClass] = "getRowClass"
            >
            <ngx-datatable-column  [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass" [flexGrow]="1"  [width]="column.width" *ngFor="let column of columns3; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-row="row">
                <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                  <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 === 'SOLES'">{{value  | currency }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 !== 'SOLES'">{{value | number: '1.0-0' }}</span>
                  <span *ngIf="column.prop !== 'concepto' && rowIndex > 11">{{value }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </app-accordion>
    </app-card>
    <app-card [message]="message">
        <app-accordion titulo="PLANILLAS - DESCUENTOS">
          <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush col-lg-5">
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(4)">
                  <i class="fa fa-external-link"></i>
                  Copiar tabla
                </button>
              </li>
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(4)">
                  <i class="fa fa-external-link"></i>
                  Exportar tabla a Excel
                </button>
              </li>
            </ul>
            <div *ngFor="let checkBoxesOp of checkBoxesOps2; let i = index" class="col-lg-2 checkbox">
              <input type="checkbox" id="{{checkBoxesOp.id}}"
              [checked]="checkBoxesOps2[i].value"
              (click)="selection(checkBoxesOp, checkBoxesOp.id, 2);"/>
              <label for="{{checkBoxesOp.id}}"><span>{{checkBoxesOp.label}}</span></label>
            </div>
          </div>
          <ngx-datatable #myTable4
          class="bootstrap table table-striped"
          id="datatablele"
            [columns]="columns4"
            [rows]="rows4filtered"
            [columnMode]="ColumnMode.force"
            [headerHeight]="$any('auto')"
            [rowHeight]="$any('auto')"
            [scrollbarH]="true"
            [rowClass] = "getRowClass"
            >
            <ngx-datatable-column  [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass" [flexGrow]="1"  [width]="column.width" *ngFor="let column of columns4; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-row="row">
                <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                  <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 === 'SOLES'">{{value  | currency }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 === 'HORAS'">{{value }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 === 'PERSONAS'">{{value | number: '1.0-0' }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </app-accordion>
    </app-card>
    <app-card [message]="message">
        <app-accordion titulo="PLANILLAS - DESCUENTOS POR PRESTACIONES">
          <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush col-lg-5">
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(5)">
                  <i class="fa fa-external-link"></i>
                  Copiar tabla
                </button>
              </li>
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(5)">
                  <i class="fa fa-external-link"></i>
                  Exportar tabla a Excel
                </button>
              </li>
            </ul>
            <div *ngFor="let checkBoxesOp of checkBoxesOps3; let i = index" class="col-lg-2 checkbox">
              <input type="checkbox" id="{{checkBoxesOp.id}}"
              [checked]="checkBoxesOps3[i].value"
              (click)="selection(checkBoxesOp, checkBoxesOp.id, 3);"/>
              <label for="{{checkBoxesOp.id}}"><span>{{checkBoxesOp.label}}</span></label>
            </div>
          </div>
          <ngx-datatable #myTable5
          class="bootstrap table table-striped"
          id="datatablele"
            [columns]="columns5"
            [rows]="rows5filtered"
            [columnMode]="ColumnMode.force"
            [headerHeight]="$any('auto')"
            [rowHeight]="$any('auto')"
            [scrollbarH]="true"
            [rowClass] = "getRowClass"
            >
            <ngx-datatable-column  [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass"  [flexGrow]="1"  [width]="column.width" *ngFor="let column of columns5; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-row="row">
                <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                  <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 === 'SOLES'">{{value  | currency }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 == 'PERSONAS'">{{value | number: '1.0-0' }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 == 'PROMEDIO'">{{value | number: '1.2-2' }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </app-accordion>
    </app-card>
    <app-card [message]="message">
        <app-accordion titulo="PLANILLAS - PAGOS ADICIONALES">
          <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush col-lg-5">
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(6)">
                  <i class="fa fa-external-link"></i>
                  Copiar tabla
                </button>
              </li>
              <li class="list-group-item border-0 pl-0">
                <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(6)">
                  <i class="fa fa-external-link"></i>
                  Exportar tabla a Excel
                </button>
              </li>
            </ul>
            <div *ngFor="let checkBoxesOp of checkBoxesOps4; let i = index" class="col-lg-2 checkbox">
              <input type="checkbox" id="{{checkBoxesOp.id}}"
              [checked]="checkBoxesOps4[i].value"
              (click)="selection(checkBoxesOp, checkBoxesOp.id, 4);"/>
              <label for="{{checkBoxesOp.id}}"><span>{{checkBoxesOp.label}}</span></label>
            </div>
          </div>
          <ngx-datatable #myTable6
          class="bootstrap table table-striped"
          id="datatablele"
            [columns]="columns6"
            [rows]="rows6filtered"
            [columnMode]="ColumnMode.force"
            [headerHeight]="$any('auto')"
            [rowHeight]="$any('auto')"
            [scrollbarH]="true"
            [rowClass] = "getRowClass"
            >
            <ngx-datatable-column  [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass"  [flexGrow]="1"  [width]="column.width" *ngFor="let column of columns6; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-row="row">
                <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                  <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 === 'SOLES'">{{value  | currency }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 == 'HORAS'">{{value }}</span>
                  <span *ngIf="column.prop !== 'concepto' && row.GRUPO3 == 'PERSONAS'">{{value | number: '1.0-0' }}</span>
                  <!-- <span *ngIf="column.prop !== 'concepto'">{{value }}</span> -->
                </div>
                
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </app-accordion>
    </app-card>
  </ng-template>
  <ng-template #planillaNetaTemplate>
    <app-card [message]="message">
      <app-accordion>
        <div class="row" style="align-items: center;justify-content: space-between;">
          <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item border-0 pl-0">
              <button type="button" (click)="showTableDasboard(3, 0)"
                class="btn-shadow mr-3 btn btn-info">
                <i class="pe-7s-credit"></i>
              </button>
              <button type="button" (click)="showTableDasboard(3, 1)" class="btn-shadow btn btn-info float-right">
                <i class="pe-7s-graph3"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico3">
          <loading *ngIf="isLoading3">{{ isLoading3 }}</loading>
          <div class="d-block" *ngIf="!isLoading3">
            <app-barchar 
            [chartData]="data" [chartOptions]="options"  [context]="context3"
            ></app-barchar>
          </div>
        </div>
        <ngx-datatable *ngIf="isTable3" #myTable7 class="bootstrap table table-striped" id="datatablele" 
          [columns]="columns7"
          [rows]="rows7" 
          [columnMode]="ColumnMode.force" 
          [headerHeight]="50" 
          [rowHeight]="$any('auto')"
          [scrollbarH]="true" 
          [rowClass]="getRowClass"
          [summaryRow]="enableSummary"
          [summaryPosition]="summaryPosition"
          [summaryHeight]="35"
          >
          <ngx-datatable-column [headerClass]="column.headerClass"
          [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
          [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns7; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  
        <!-- tabla 8 -->
        <div class="row" style="align-items: center;justify-content: space-between;">
          <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item border-0 pl-0">
              <button type="button" (click)="showTableDasboard(4, 0)"
                class="btn-shadow mr-3 btn btn-info">
                <i class="pe-7s-credit"></i>
              </button>
              <button type="button" (click)="showTableDasboard(4, 1)" class="btn-shadow btn btn-info float-right">
                <i class="pe-7s-graph3"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico4">
          <loading *ngIf="isLoading4">{{ isLoading4 }}</loading>
          <div class="d-block" *ngIf="!isLoading4">
            <app-barchar 
            [chartData]="data" [chartOptions]="options" [context]="context4"
            ></app-barchar>
          </div>
        </div>
        <ngx-datatable *ngIf="isTable4" #myTable8 class="bootstrap table table-striped" id="datatablele" 
          [columns]="columns8"
          [rows]="rows8" 
          [columnMode]="ColumnMode.force" 
          [headerHeight]="50" 
          [rowHeight]="$any('auto')"
          [scrollbarH]="true" 
          [rowClass]="getRowClass"
          [summaryRow]="enableSummary"
          [summaryPosition]="summaryPosition"
          [summaryHeight]="35"
          >
          <ngx-datatable-column [headerClass]="column.headerClass"
          [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
          [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns8; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!-- fin tabla 8 -->
        <!-- tabla 9 -->
        <div class="row" style="align-items: center;justify-content: space-between;">
          <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item border-0 pl-0">
              <button type="button" (click)="showTableDasboard(5, 0)"
                class="btn-shadow mr-3 btn btn-info">
                <i class="pe-7s-credit"></i>
              </button>
              <button type="button" (click)="showTableDasboard(5, 1)" class="btn-shadow btn btn-info float-right">
                <i class="pe-7s-graph3"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico5">
          <loading *ngIf="isLoading5">{{ isLoading5 }}</loading>
          <div class="d-block" *ngIf="!isLoading5">
            <app-barchar 
            [chartData]="data" [chartOptions]="options" [context]="context5"
            ></app-barchar>
          </div>
        </div>
        <ngx-datatable *ngIf="isTable5" #myTable9 class="bootstrap table table-striped" id="datatablele" 
          [columns]="columns9"
          [rows]="rows9" 
          [columnMode]="ColumnMode.force" 
          [headerHeight]="50" 
          [rowHeight]="$any('auto')"
          [scrollbarH]="true" 
          [rowClass]="getRowClass"
          [summaryRow]="enableSummary"
          [summaryPosition]="summaryPosition"
          [summaryHeight]="35"
          >
          <ngx-datatable-column [headerClass]="column.headerClass"
          [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
          [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns9; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
                <!-- <span *ngIf="column.prop !== 'concepto' && rowIndex > 13">{{value }} %</span> -->
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!-- fin tabla 4 -->
        <!-- tabla 5 -->
        <div class="row" style="align-items: center;justify-content: space-between;">
          <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item border-0 pl-0">
              <button type="button" (click)="showTableDasboard(6, 0)"
                class="btn-shadow mr-3 btn btn-info">
                <i class="pe-7s-credit"></i>
              </button>
              <button type="button" (click)="showTableDasboard(6, 1)" class="btn-shadow btn btn-info float-right">
                <i class="pe-7s-graph3"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico6">
          <loading *ngIf="isLoading6">{{ isLoading6 }}</loading>
          <div class="d-block" *ngIf="!isLoading6">
            <app-barchar 
            [chartData]="data" [chartOptions]="options" [context]="context6"
            ></app-barchar>
          </div>
        </div>
        <ngx-datatable *ngIf="isTable6" #myTable10 class="bootstrap table table-striped" id="datatablele" 
          [columns]="columns10"
          [rows]="rows10" 
          [columnMode]="ColumnMode.force" 
          [headerHeight]="50" 
          [rowHeight]="$any('auto')"
          [scrollbarH]="true" 
          [rowClass]="getRowClass"
          [summaryRow]="enableSummary"
          [summaryPosition]="summaryPosition"
          [summaryHeight]="35"
          >
          <ngx-datatable-column [headerClass]="column.headerClass"
          [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
          [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns10; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value === 'F' ? 'Mujer' : 'Hombre'}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!-- fin tabla 10 -->
        <!-- tabla 11 -->
        <div class="row" style="align-items: center;justify-content: space-between;">
          <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item border-0 pl-0">
              <button type="button" (click)="showTableDasboard(7, 0)"
                class="btn-shadow mr-3 btn btn-info">
                <i class="pe-7s-credit"></i>
              </button>
              <button type="button" (click)="showTableDasboard(7, 1)" class="btn-shadow btn btn-info float-right">
                <i class="pe-7s-graph3"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico7">
          <loading *ngIf="isLoading7">{{ isLoading7 }}</loading>
          <div class="d-block" *ngIf="!isLoading7">
            <app-barchar 
            [chartData]="data" [chartOptions]="options" [context]="context7"
            ></app-barchar>
          </div>
        </div>
        <ngx-datatable *ngIf="isTable7" #myTable11 class="bootstrap table table-striped" id="datatablele" 
          [columns]="columns11"
          [rows]="rows11" 
          [columnMode]="ColumnMode.force" 
          [headerHeight]="50" 
          [rowHeight]="$any('auto')"
          [scrollbarH]="true" 
          [rowClass]="getRowClass"
          [summaryRow]="enableSummary"
          [summaryPosition]="summaryPosition"
          [summaryHeight]="35"
          >
          <ngx-datatable-column [headerClass]="column.headerClass"
          [summaryFunc]="column.prop == 'concepto' ? summaryNull:summaryForAmount"
          [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns11; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <span *ngIf="column.prop !== 'concepto'">{{value | currency }}</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!-- fin tabla 11 -->
      </app-accordion>
    </app-card>
  </ng-template>
  <ng-template #indicadoresTemplate>
    <app-card [message]="message">
      <app-accordion titulo="INDICADORES">
        <div class="row" style="align-items: center;justify-content: space-between;">
            <ul class="list-group list-group-horizontal list-group-flush">
              <li class="list-group-item border-0 pl-0">
                <button type="button" (click)="showTableDasboard(8, 0)"
                  class="btn-shadow mr-3 btn btn-info">
                  <i class="pe-7s-credit"></i>
                </button>
                <button type="button" (click)="showTableDasboard(8, 1)" class="btn-shadow btn btn-info float-right">
                  <i class="pe-7s-graph3"></i>
                </button>
              </li>
            </ul>
        </div>
        <div class="card-body" *ngIf="isGrafico8">
            <loading *ngIf="isLoading8">{{ isLoading8 }}</loading>
            <div class="d-block" *ngIf="!isLoading8">
                <app-barchar 
                [chartData]="data" [chartOptions]="options" [context]="context8"
                ></app-barchar>
            </div>
        </div>
        <ngx-datatable *ngIf="isTable8" #myTable12 class="bootstrap table table-striped" id="datatablele" [columns]="columns12"
          [rows]="rows12" [columnMode]="ColumnMode.force" [headerHeight]="50" [rowHeight]="$any('auto')"
          [scrollbarH]="true" [rowClass]="getRowClass">
          <ngx-datatable-column [headerClass]="column.headerClass" [cellClass]="column.cellClass" [flexGrow]="1"
            [width]="column.width" *ngFor="let column of columns12; let i = index;" name="{{column.name}}"
            prop="{{column.prop}}">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <div
                [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                <i class="fa fa-arrow-up text-blue" *ngIf="row.concepto === 'Colaboradores Respecto Mes Anterior' && value > 0"></i>
                <i class="fa fa-arrow-down text-red" *ngIf="row.concepto === 'Colaboradores Respecto Mes Anterior' && value < 0"></i>
  
                <i class="fa fa-arrow-up text-blue" *ngIf="row.concepto === 'Proporcion de Cesados / Nuevos' && value > 0"></i>
                <i class="fa fa-arrow-down text-red" *ngIf="row.concepto === 'Proporcion de Cesados / Nuevos' && value < 0"></i>
  
                <span *ngIf="column.prop !== 'concepto' && rowIndex < 14">{{value }}</span>
                <span *ngIf="column.prop !== 'concepto' && rowIndex > 13">{{value }} %</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </app-accordion>
    </app-card>
  </ng-template>