<div class="main-card mt-2 card">
  <div class="card-body">
    <form [formGroup]="formSearchReclamo">
      <div class="form-row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="inicio">Fecha Inicio</label
                ><input
                  name="inicio"
                  id="inicio"
                  formControlName="fechainicio"
                  type="date"
                  class="form-control-sm form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="fin">Fecha Final</label
                ><input
                  name="fin"
                  id="fin"
                  formControlName="fechafin"
                  type="date"
                  class="form-control-sm form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <div class="position-relative form-group">
                <label for="sedes">Sedes</label
                ><select
                  formControlName="sede"
                  class="form-control-sm form-control"
                >
                  <option value="">Todos</option>
                  <option value="1">Lima</option>
                  <option value="2">Chorrillos</option>
                  <option value="4">Surco</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="position-relative form-group">
                <label for="estado">Estados</label
                ><select
                  formControlName="estado"
                  class="form-control-sm form-control"
                >
                  <option value="">Seleccione...</option>
                  <option value="1">Por Vencer</option>
                  <option value="2">Vencidos</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="afectado">Persona Afectada</label
                ><input
                  name="afectado"
                  id="afectado"
                  formControlName="afectado"
                  placeholder=""
                  type="text"
                  class="form-control-sm form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <div class="input-group-btn pt-4">
              <button
                (click)="searhReclamo()"
                class="mb-2 mr-2 btn btn-primary btn-sm"
              >
                <i class="pe-7s-search"> </i>Procesar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div
      class="card-header-title font-size-lg text-capitalize font-weight-normal"
    >
      <select
        class="custom-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="refreshCountries()"
      >
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
        <option [ngValue]="150">150</option>
      </select>

      <div
        class="btn-group ml-4"
        role="group"
        aria-label="Button group with nested dropdown"
      >
        <div class="btn-group" role="group">
          <div class="d-inline-block" ngbDropdown>
            <button
              type="button"
              ngbDropdownToggle
              class="mb-2 mr-2 btn btn-primary"
            >
              <i class="fa fa-file-excel-o text-success"></i> Generar Excel
            </button>
            <div ngbDropdownMenu>
              <button (click)="exportExcelTrama1()" class="dropdown-item">
                <i class="fa fa-file-excel-o text-success"></i> Detalle del
                Reclamo
              </button>
              <button (click)="exportExcelTrama2()" class="dropdown-item">
                <i class="fa fa-file-excel-o text-success"></i> Acciones Tomadas
              </button>
            </div>
          </div>
        </div>
        <div class="btn-group" role="group">
          <div class="d-inline-block" ngbDropdown>
            <button
              type="button"
              ngbDropdownToggle
              class="mb-2 mr-2 btn btn-primary"
            >
              <i class="fa fa-file-text"></i> Generar txt
            </button>
            <div ngbDropdownMenu>
              <button (click)="exportTramaTXT_01()" class="dropdown-item">
                <i class="fa fa-file-text"></i> Detalle del Reclamo
              </button>
              <button (click)="exportTramaTXT_02()" class="dropdown-item">
                <i class="fa fa-file-text"></i> Acciones Tomadas
              </button>
            </div>
          </div>
        </div>
        <div class="btn-group" role="group">
          <button
            type="button"
            (click)="exportExcel()"
            class="mb-2 mr-2 btn btn-primary"
          >
            <i class="fa fa-file-excel-o text-withe"></i> Exportar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive p-4">
    <table
      class="
        align-middle
        text-truncate
        mb-0
        table table-sm table-borderless table-hover
      "
    >
      <thead>
        <tr>
          <th>Accion</th>
          <th>Correlativo</th>
          <th>F.Reclamo</th>
          <th>F.Evento</th>
          <th>Sede</th>
          <th>Estado</th>
          <th>Afectado</th>
          <th>Resultado Reclamo</th>
          <th>Area Involucrado</th>
          <th>Causa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reclamos">
          <td class="text-center">
            <div role="group" class="btn-group-sm btn-group">
              <button
                (click)="
                  open(
                    1,
                    item.id_reclamo,
                    item.id_sede,
                    item.v_correlativo_reclamo
                  )
                "
                class="btn-shadow btn btn-outline-success"
                data-tooltip="Detalle"
              >
                <i class="pe-7s-look btn-icon-wrapper"> </i>
              </button>

              <button
                (click)="
                  open(
                    2,
                    item.id_reclamo,
                    item.id_sede,
                    item.v_correlativo_reclamo
                  )
                "
                class="btn-shadow btn btn-outline-info"
                data-tooltip="Solución al reclamo"
              >
                <i class="pe-7s-note2 btn-icon-wrapper"> </i>
              </button>
              <button
                (click)="
                  open(
                    3,
                    item.id_reclamo,
                    item.id_sede,
                    item.v_correlativo_reclamo
                  )
                "
                class="btn-shadow btn btn-outline-warning"
                data-tooltip="Para conocimiento"
              >
                <i class="pe-7s-user btn-icon-wrapper"> </i>
              </button>
              <button
                (click)="
                  open(
                    4,
                    item.id_reclamo,
                    item.id_sede,
                    item.v_correlativo_reclamo
                  )
                "
                class="btn-shadow btn btn-outline-primary"
                data-tooltip="Respuesta al reclamo"
              >
                <i class="pe-7s-display2 btn-icon-wrapper"> </i>
              </button>
            </div>
          </td>
          <td class="text-left">
            {{ newCorrelativoCorrecto(item.v_correlativo_reclamo) }}
          </td>
          <td class="text-left">{{ diaEvento(item.d_registra_reclamo) }}</td>
          <td class="text-left">
            {{ diaEvento(item.d_fecha_reclamo) }}
          </td>
          <td class="text-left">
            {{ getsedeName(item.id_sede) }}
          </td>
          <td class="text-left">
            {{ item.name_estado }}
          </td>
          <td class="text-left">
            {{ item.V_nombre1.trim() }} {{ item.v_paterno1.trim() }}
            {{ item.v_materno1.trim() }}
          </td>
          <td class="text-left">
            {{ getRultadoReclamo(item.id_resultado_reclamo) }}
          </td>
          <td class="text-left">{{ item.area_name }}</td>
          <td class="text-center">
            <span
              (click)="showCausa(item)"
              style="cursor: pointer"
              class="mb-1 badge bg-secondary"
              >Ver causa ...</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshCountries()"
    >
      <ng-template ngbPaginationPrevious>
        <i class="pe-7s-angle-left-circle"></i
      ></ng-template>
      <ng-template ngbPaginationNext
        ><i class="pe-7s-angle-right-circle"></i
      ></ng-template>
    </ngb-pagination>
  </div>
</div>
