<h4 class="card-title" *ngIf="action">Procedimientos Realizados ( NO incluye IGV ) - Periodo {{selectedOptionPeriodo}}</h4>
<app-panel-cabecera [panelCabecera] = "panelOptions" *ngIf="action"></app-panel-cabecera>
<div class="app-content content" *ngIf="action">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
        <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
      </div>
      <div class="content-body">
        <section id="selection-n-deletion">
          <div class="row">
            <div class="col-12">
              <div class="app-content content">
                <app-content-wrapper>
                  <div class="app-content content">
                    <app-content-wrapper>
                      <app-content-estadisticas 
                      
                      [columns1]="columns1" [rows1]="rows1"
                      [columns2]="columns2" [rows2]="rows2"
                      [columns3]="columns3" [rows3]="rows3"
                      [columns4]="columns4" [rows4]="rows4"
                      [columns5]="columns5" [rows5]="rows5" 
                      [columns6]="columns6" [rows6]="rows6"
                      [temp1]="rows5" [temp2]="rows6"  
                      [especialidades1] = "especialidades1"
                      [especialidades2] = "especialidades2"
                      [tabs]="tabs">
                      </app-content-estadisticas>
                    </app-content-wrapper>
                  </div>
                </app-content-wrapper>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  

