<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="selection-n-deletion">
        <div class="row">

          <div class="col-12">
            <form [formGroup]="filtroForm">
              <div class="row" style="margin-bottom: -0.5rem;">
                <div class="form-group col-sm-12">
                  <div class="input-group input-group-sm fecha">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Año</span>
                    </div>
                    <select formControlName="anio" class="form-control form-select" (change)="onAnioChange($event.target.value)">
                    <option
                        *ngFor="let option of optionsAnio"
                        [value]="option.value"
                    >
                        {{ option.label }}
                    </option>
                  </select>
                </div>
                  <div class="input-group input-group-sm fecha">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Mes</span>
                    </div>
                    <select formControlName="mes" class="form-control form-select" (change)="onMesChange($event.target.value)">
                    <option
                        *ngFor="let option of optionsMes"
                        [value]="option.value"
                    >
                        {{ option.label }}
                    </option>
                </select>
                </div>
                  <div class="input-group-btn">
                  <button (click)="filter()" class="btn btn-sm btn-primary">
                      <i class="fa fa-search"></i> Filtrar
                  </button>
                  </div>
                </div>
              </div>
            </form>
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="justify-content: end;">
              <li [ngbNavItem]="1">
                  <a ngbNavLink>INDICADORES</a>
                    <ng-template ngbNavContent>
                      
                      <div class="card" *ngIf="action">
                        <div class="card-header">
                          <h5 class="card-title" style="bottom:13px;">{{message}}</h5>
                          <!-- <p>{{message}}</p> -->
                          
                        </div>
                        <div class="card-content collapse show">
                          <div class="card-body">
                            <div class="table table-striped table-bordered selection-deletion-row">
                              <div class="box box-solid">
                                <div id="accordion1">
                                  <div class="card">
                                    <div class="card-header-info" >
                                      <div class="box-header">
                                        <div class="toggle-table">
                                          <div class="callout callout-info">
                                            <h3 class="box-title">INDICADORES COLABORADORES</h3>
                                          </div>
                                          <button type="button" class="btn btn-outline-primary" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1"
                                          aria-controls="collapseExample">
                                          <i class="fa fa-minus" *ngIf="!isCollapsed1"> </i>
                                          <i class="fa fa-plus" *ngIf="isCollapsed1"> </i> 
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                                        <div class="row" style="align-items: center;justify-content: space-between;">
                                          <ul class="list-group list-group-horizontal list-group-flush">
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(1)">
                                                <i class="fa fa-external-link"></i>
                                                Copiar tabla
                                              </button>
                                            </li>
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(1)">
                                                <i class="fa fa-external-link"></i>
                                                Exportar tabla a Excel
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <ngx-datatable #myTable1
                                        class="bootstrap table table-striped"
                                        id="datatablele"
                                          [columns]="columns1"
                                          [rows]="rows1"
                                          [columnMode]="ColumnMode.force"
                                          [headerHeight]="$any('auto')"
                                          [rowHeight]="$any('auto')"
                                          [scrollbarH]="true"
                                          [rowClass] = "getRowClass"
                                          >
                                          <ngx-datatable-column  [headerClass]="column.headerClass" [cellClass]="column.cellClass" [flexGrow]="1" [minWidth]="90" *ngFor="let column of columns1; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                              let-row="row">
                                              <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                                                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                                                  <i class="fa fa-arrow-down text-blue" *ngIf="row.concepto === 'Colaboradores Respecto Mes Anterior' && value < 0"></i>
                                                  <i class="fa fa-arrow-down text-red" *ngIf="row.concepto === 'Colaboradores Respecto Mes Anterior' && value > 0"></i>
                                                  <i class="fa fa-arrow-up text-blue" *ngIf="row.concepto === 'Proporcion de Cesados / Nuevos' && value > 0"></i>
                                                  <i class="fa fa-arrow-up text-red" *ngIf="row.concepto === 'Proporcion de Cesados / Nuevos' && value < 0"></i>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex < 14">{{value }}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex > 13">{{value }} %</span>
                                              </div>
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                        <div class="ml-3">
                                          <p>(*) No se incluyen los colaboradores nuevos en el periodo.<br>
                                          (**) ((Nro.Cesados + Nro.Nuevos)/2 ) / Nro.Colaboradores</p>
                                        </div>
                                        
                                    </div>
                                  </div>
                                
                                  <div class="card">
                                    <div class="card-header-info" >
                                      <div class="box-header">
                                        <div class="toggle-table">
                                          <div class="callout callout-info">
                                            <h3 class="box-title">INDICADORES PLANILLAS</h3>
                                          </div>
                                          <button type="button" class="btn btn-outline-primary" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2"
                                          aria-controls="collapseExample">
                                          <i class="fa fa-minus" *ngIf="!isCollapsed2"> </i>
                                          <i class="fa fa-plus" *ngIf="isCollapsed2"> </i> 
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                                        <div class="row" style="align-items: center;justify-content: space-between;">
                                          <ul class="list-group list-group-horizontal list-group-flush">
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(2)">
                                                <i class="fa fa-external-link"></i>
                                                Copiar tabla
                                              </button>
                                            </li>
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(2)">
                                                <i class="fa fa-external-link"></i>
                                                Exportar tabla a Excel
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <ngx-datatable #myTable2
                                        class="bootstrap table table-striped"
                                        id="datatablele"
                                          [columns]="columns2"
                                          [rows]="rows2"
                                          [columnMode]="ColumnMode.force"
                                          [headerHeight]="$any('auto')"
                                          [rowHeight]="$any('auto')"
                                          [scrollbarH]="true"
                                          [rowClass] = "getRowClass"
                                          >
                                          <ngx-datatable-column [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass"  [flexGrow]="1" [minWidth]="90" [width]="column.width" *ngFor="let column of columns2; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                              let-row="row">
                                              <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                                                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex < 16">{{value  | currency }}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex > 15">{{value }}</span>
                                              </div>
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                  </div>
                                
                                  <div class="card">
                                    <div class="card-header-info" >
                                      <div class="box-header">
                                        <div class="toggle-table">
                                          <div class="callout callout-info">
                                            <h3 class="box-title">INDICADORES PLANILLAS SUBSIDIO</h3>
                                          </div>
                                          <button type="button" class="btn btn-outline-primary" (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3"
                                          aria-controls="collapseExample">
                                          <i class="fa fa-minus" *ngIf="!isCollapsed3"> </i>
                                          <i class="fa fa-plus" *ngIf="isCollapsed3"> </i> 
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
                                        <div class="row" style="align-items: center;justify-content: space-between;">
                                          <ul class="list-group list-group-horizontal list-group-flush">
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(3)">
                                                <i class="fa fa-external-link"></i>
                                                Copiar tabla
                                              </button>
                                            </li>
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(3)">
                                                <i class="fa fa-external-link"></i>
                                                Exportar tabla a Excel
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <ngx-datatable #myTable3
                                        class="bootstrap table table-striped"
                                        id="datatablele"
                                          [columns]="columns3"
                                          [rows]="rows3"
                                          [columnMode]="ColumnMode.force"
                                          [headerHeight]="$any('auto')"
                                          [rowHeight]="$any('auto')"
                                          [scrollbarH]="true"
                                          [rowClass] = "getRowClass"
                                          >
                                          <ngx-datatable-column [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass" [flexGrow]="1" [minWidth]="90" [width]="column.width" *ngFor="let column of columns3; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                              let-row="row">
                                              <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                                                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex < 12">{{value  | currency }}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex > 11">{{value }}</span>
                                              </div>
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                  </div>
                                
                                  <div class="card">
                                    <div class="card-header-info" >
                                      <div class="box-header">
                                        <div class="toggle-table">
                                          <div class="callout callout-info">
                                            <h3 class="box-title">INDICADORES PLANILLAS DESCUENTO</h3>
                                          </div>
                                          <button type="button" class="btn btn-outline-primary" (click)="collapse4.toggle()" [attr.aria-expanded]="!isCollapsed4"
                                          aria-controls="collapseExample">
                                          <i class="fa fa-minus" *ngIf="!isCollapsed4"> </i>
                                          <i class="fa fa-plus" *ngIf="isCollapsed4"> </i> 
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4">
                                        <div class="row" style="align-items: center;justify-content: space-between;">
                                          <ul class="list-group list-group-horizontal list-group-flush">
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(4)">
                                                <i class="fa fa-external-link"></i>
                                                Copiar tabla
                                              </button>
                                            </li>
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(4)">
                                                <i class="fa fa-external-link"></i>
                                                Exportar tabla a Excel
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <ngx-datatable #myTable4
                                        class="bootstrap table table-striped"
                                        id="datatablele"
                                          [columns]="columns4"
                                          [rows]="rows4"
                                          [columnMode]="ColumnMode.force"
                                          [headerHeight]="$any('auto')"
                                          [rowHeight]="$any('auto')"
                                          [scrollbarH]="true"
                                          [rowClass] = "getRowClass"
                                          >
                                          <ngx-datatable-column [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass" [flexGrow]="1" [minWidth]="90" [width]="column.width" *ngFor="let column of columns4; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                              let-row="row">
                                              <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                                                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex < 9">{{ value | currency  }}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex > 8">{{ value  }}</span>
                                              </div>
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                  </div>
                                
                                  <div class="card">
                                    <div class="card-header-info" >
                                      <div class="box-header">
                                        <div class="toggle-table">
                                          <div class="callout callout-info">
                                            <h3 class="box-title">INDICADORES PLANILLAS DESCUENTO POR PRESTACION</h3>
                                          </div>
                                          <button type="button" class="btn btn-outline-primary" (click)="collapse5.toggle()" [attr.aria-expanded]="!isCollapsed5"
                                          aria-controls="collapseExample">
                                          <i class="fa fa-minus" *ngIf="!isCollapsed5"> </i>
                                          <i class="fa fa-plus" *ngIf="isCollapsed5"> </i> 
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div #collapse5="ngbCollapse" [(ngbCollapse)]="isCollapsed5">
                                        <div class="row" style="align-items: center;justify-content: space-between;">
                                          <ul class="list-group list-group-horizontal list-group-flush">
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(5)">
                                                <i class="fa fa-external-link"></i>
                                                Copiar tabla
                                              </button>
                                            </li>
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(5)">
                                                <i class="fa fa-external-link"></i>
                                                Exportar tabla a Excel
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <ngx-datatable #myTable5
                                        class="bootstrap table table-striped"
                                        id="datatablele"
                                          [columns]="columns5"
                                          [rows]="rows5"
                                          [columnMode]="ColumnMode.force"
                                          [headerHeight]="$any('auto')"
                                          [rowHeight]="$any('auto')"
                                          [scrollbarH]="true"
                                          [rowClass] = "getRowClass"
                                          >
                                          <ngx-datatable-column [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass"  [flexGrow]="1" [minWidth]="90" [width]="column.width" *ngFor="let column of columns5; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                              let-row="row">
                                              <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                                                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                                                <span *ngIf="column.prop !== 'concepto'">{{value  | currency }}</span>
                                              </div>
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                  </div>
                                
                                  <div class="card">
                                    <div class="card-header-info" >
                                      <div class="box-header">
                                        <div class="toggle-table">
                                          <div class="callout callout-info">
                                            <h3 class="box-title">INDICADORES PLANILLAS PAGOS</h3>
                                          </div>
                                          <button type="button" class="btn btn-outline-primary" (click)="collapse6.toggle()" [attr.aria-expanded]="!isCollapsed6"
                                          aria-controls="collapseExample">
                                          <i class="fa fa-minus" *ngIf="!isCollapsed6"> </i>
                                          <i class="fa fa-plus" *ngIf="isCollapsed6"> </i> 
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div #collapse6="ngbCollapse" [(ngbCollapse)]="isCollapsed6">
                                        <div class="row" style="align-items: center;justify-content: space-between;">
                                          <ul class="list-group list-group-horizontal list-group-flush">
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="copyTableToClipboard(6)">
                                                <i class="fa fa-external-link"></i>
                                                Copiar tabla
                                              </button>
                                            </li>
                                            <li class="list-group-item border-0 pl-0">
                                              <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel(6)">
                                                <i class="fa fa-external-link"></i>
                                                Exportar tabla a Excel
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <ngx-datatable #myTable6
                                        class="bootstrap table table-striped"
                                        id="datatablele"
                                          [columns]="columns6"
                                          [rows]="rows6"
                                          [columnMode]="ColumnMode.force"
                                          [headerHeight]="$any('auto')"
                                          [rowHeight]="$any('auto')"
                                          [scrollbarH]="true"
                                          [rowClass] = "getRowClass"
                                          >
                                          <ngx-datatable-column [sortable]="false" [headerClass]="column.headerClass" [cellClass]="column.cellClass"  [flexGrow]="1" [minWidth]="90" [width]="column.width" *ngFor="let column of columns6; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                              let-row="row">
                                              <div [ngClass]="{'row-paddin': row.concepto.includes('LIMA') || row.concepto.includes('CHORRILLOS') || row.concepto.includes('SURCO') }">
                                                <span *ngIf="column.prop == 'concepto'">{{value}}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex < 12">{{ value | currency  }}</span>
                                                <span *ngIf="column.prop !== 'concepto' && rowIndex > 11">{{ value  }}</span>
                                              </div>
                                              
                                            </ng-template>
                                          </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    </ng-template>
              </li>
            </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->

