

.languagepicker {
  display: inline-block;
  padding: 0;
  height: 30px;
  /* Remove this */
  /*overflow: hidden;*/
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin: 10px 5px 0 0;
  vertical-align: top;
  position: relative;
  z-index: 999;
}

.languagepicker:hover {
  height: 50px;
}

.languagepicker a {
  color: #ffffff;
  text-decoration: none;
}

.languagepicker li {
  display: block;
  margin: 1rem 5px;
  // padding: 1rem 5px;
  // line-height: 1rem;
}

.languagepicker li:hover {
  background-color: #afafaf;
  // background: hsla(0,10%,90%,.1)!important;
  color: #fff!important;

}

.languagepicker a:first-child li {
  border: none;
  background: #bb635a;
}

.languagepicker li img {
  margin-right: 5px;
}

.roundborders {
  border-radius: 5px;
}

.large:hover {
  height: auto;
}

.activeLink {
  color: #B0B0B0;
}

.activeSubLink {
  color: #4169E1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* My Edits */
.languagepicker li:first-child{
  visibility: visible;
}

.languagepicker:hover li{
  visibility: visible;
}

ul li.testclass {
  display: block;
  padding: 0;
  margin-top: 1px;
  width: 100%;
  position: relative;
  
}
li.testclass:hover  {
  background-color: red;
}
.v-sidebar-menu .vsm-arrow{
  transform: none!important;
}

li.testclass > ul,
li.testclass > ul li ul {
  position: absolute;
  top: 30;
  left: 7%;
  display: none;
  width: 100%;
  // padding-left: 8%;
  // padding: 10px 15px;
  z-index: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #333;
  overflow: hidden;
  transform-origin: 50% 0%;
}

li.testclass:hover > ul,
li.testclass > ul li:hover ul {
  display: block;
  background-color: #4169E1!important;
  position:relative!important;
}

/* End of Edits */


li.testclass ul li {
  margin: 0.5rem 5px;
  padding: 10px 15px;
  // width: 200px;
  // padding-left: 8%;
  z-index: 1;
 
}

li.testclass ul li ul li {
  margin: 0.5rem 5px;
  padding: 10px 15px;
  // width: 200px;
  // padding-left: 8%;
  z-index: 1;

}

// /deep/ .card-header{
//   background-color: #212529;
//   text-align: left;
// }

// /deep/ .card-header a {
//   color: white;
//   text-align: right;
// }

// /deep/ .card-body{
//   background-color: #c2d1e0;
// }

// /deep/ .text-muted{
//   color: white !important;
// }


// /deep/ .cardheader1{
//   background-color: red;
// }


// /deep/ .card-header[id^="child-"] {
//   background: red;
// }

 
// /deep/ .card-header[id^="child-"].active {
//   background: green;
// }

// /deep/ .card-header[id^="test"].selected {
//   background: green;
// }