<div
  [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme"
  (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()"
>
  <div class="app-header__logo">
    <!-- class="logo-src" -->
    <div>
      <img src="../../../../assets/images/img-text.png" width="200" alt="" />
    </div>
    <div class="header__pane ml-auto">
      <button
        type="button"
        class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{ 'is-active': globals.toggleSidebar }"
        (click)="toggleSidebar()"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
        <!-- Env Menu starts here -->
        <div class="v-sidebar-menu vsm-default" >
          <ul class="languagepicker vsm-list">
            <li class="testclass" *ngFor="let item of menu"><a
              (click)="goRutePagesHeaderTitle(item.header)"
              routerLinkActive="active-item"
              routerLink="{{ item.url }}"
              >
                      <button  class="vsm-link">
                        <i [class]="item.icon">&nbsp;</i>
                        <span class="vsm-title" >&nbsp;{{ item.name_model }}</span>
                        
                        <i class="vsm-arrow"></i>
                      </button>
              </a>
              <ul>
                <li *ngFor="let subMenuItem of item.rides">
                  <a
                    (click)="goRutePagesHeaderTitle(subMenuItem.header)"
                    routerLinkActive="active-item"
                    routerLink="{{ subMenuItem.url }}"
                    *ngIf="subMenuItem.isChecked"
                    
                  >{{subMenuItem.name}}</a>
                  <ul>
                    <li *ngFor="let subSubMenuItem of subMenuItem.Team">
                      <a
                        (click)="goRutePagesHeaderTitle(subSubMenuItem.header)"
                        routerLinkActive="active-item"
                        routerLink="{{ subSubMenuItem.url }}"
                        *ngIf="subSubMenuItem.isChecked"
                        
                      >{{subSubMenuItem.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>  
      <!-- Env Menu End here-->



<!--div class="v-sidebar-menu vsm-default">
  <div class="vsm-list">
    <ngb-accordion
      [destroyOnHide]="false"
      [closeOthers]="true"
      [activeIds]="extraParameter"
    >
      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="vsm-header">ADMIN</div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="adminMenu">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="vsm-link">
            <i class="vsm-icon pe-7s-users"></i>
            <span class="vsm-title">Autenticación</span>
            <i class="vsm-arrow"></i>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="vsm-dropdown">
            <div class="vsm-list">
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/admin/users"
                  class="vsm-link"
                  ><span class="vsm-title">Usuarios</span></a
                >
              </div>
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/admin/roles"
                  class="vsm-link"
                  ><span class="vsm-title">Roles</span></a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="vsm-header">RECURSOS HUMANOS</div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="recursosMenu">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="vsm-link">
            <i class="vsm-icon pe-7s-diamond"></i>
            <span class="vsm-title">RRHH</span>
            <i class="vsm-arrow"></i>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="vsm-dropdown">
            <div class="vsm-list">
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/rrhh/collaborators"
                  class="vsm-link"
                >
                  <span class="vsm-title">Colaboradores</span></a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="vsm-header">GESTIÓN DE RECLAMOS</div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="claimsMenu">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="vsm-link">
            <i class="vsm-icon pe-7s-diamond"></i>
            <span class="vsm-title">Reclamos</span>
            <i class="vsm-arrow"></i>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="vsm-dropdown">
            <div class="vsm-list">
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/claims/iafas"
                  class="vsm-link"
                >
                  <span class="vsm-title">Csalud-Iafas</span></a
                >
              </div>
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/claims/ipress"
                  class="vsm-link"
                >
                  <span class="vsm-title">Cms-Ipress</span></a
                >
              </div>
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/claims/portal"
                  class="vsm-link"
                  ><span class="vsm-title">Portal-Web</span></a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelHeader>
          <div class="vsm-header">REPORTES</div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="reportMenu">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="vsm-link">
            <i class="vsm-icon pe-7s-diamond"></i>
            <span class="vsm-title">Reportes</span>
            <i class="vsm-arrow"></i>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="vsm-dropdown">
            <div class="vsm-list">
              <div class="vsm-item">
                <a
                  routerLinkActive="active-item"
                  routerLink="/report/send"
                  class="vsm-link"
                >
                  <span class="vsm-title">Directores</span></a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div-->
