@import "assets/base";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./main.css";

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.app-theme-white .app-sidebar .app-sidebar-content {
    background: RGB(16,0,76);
}
.app-header__logo {
    // background: RGB(16,0,76) !important;
}
.v-sidebar-menu .vsm-header {
    color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm-link {
    color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm-link:hover,
.v-sidebar-menu .vsm-link.active-item,
.app-sidebar.text-lighter .v-sidebar-menu .vsm-item.active-item > .vsm-link,
.app-sidebar.text-darker .v-sidebar-menu .vsm-item.active-item > .vsm-link {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm-dropdown::before {
    background: rgba(255, 255, 255, 0.1);
}
.closed-sidebar .app-sidebar .v-sidebar-menu .vsm-header::before {
    background: rgba(255, 255, 255, 0.1);
}
.app-theme-white .app-sidebar .app-header__logo,
.app-theme-white .app-footer .app-footer__inner,
.app-theme-white .app-header {
    background: #ffffff;
}
.dropdown-menu-lg {
    min-width: 22rem;
}
/* .dropdown-menu-header .menu-header-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  opacity: 0.25;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  background-size: cover;
} */
.dropdown-menu .dropdown-menu-header,
.dropdown-menu .menu-header-image,
.dropdown-menu .dropdown-menu-header-inner {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
/* .dd-header-bg-6 {
  background: url(./assets/images/dropdown-header/city3.jpg);
} */

.opacity-2 {
    opacity: 0.2 !important;
}
.dropdown-menu-header .dropdown-menu-header-inner {
    margin: -1px -1px 0;
    padding: 1.5rem 0.5rem;
    position: relative;
}
.bg-info {
    background-color: #16aaff !important;
}
.dropdown-menu-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0.65rem;
    position: relative;
    z-index: 6;
}
.app-header .app-header__content .app-header-center {
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 0 15rem;
}

.alert {
    position: fixed;
    z-index: 999;
    right: 1em;
    bottom: 0;
}
.app-header .logo-mobile {
    display: none;
    // order: 2;
}
@media (max-width: 991.98px) {
    .app-theme-white .app-sidebar .app-header__logo,
    .app-theme-white .app-footer .app-footer__inner,
    .app-theme-white .app-header {
        background-color: RGB(16,0,76);
    }

    .app-header .logo-mobile {
        display: block;
        order: 2;
    }
    .app-header .app-header__content .app-header-center {
        align-items: center;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0 0 0 0rem;
    }
    h5,
    .h5 {
        font-size: 0.9rem;
    }
    .popover,
    .dropdown-menu {
        top: 35% !important;
    }
}
.font-size-lg {
    font-size: 0.9rem !important;
}

/* MODAL SIZES */
.xl > .modal-dialog {
    max-width: 1490px !important;
    min-width: 971px !important;
    width: 95% !important;
}

.list-group-horizontal{
    flex-direction: row!important;
    margin-left: 15px!important;
}
.ngx-datatable.bootstrap .datatable-footer {
    background-color: #10004c!important;
}

.datatable-header, .datatable-body{
    width: auto!important;
    }
.ngx-datatable.bootstrap .datatable-header{
    color: #10004c!important;
    background-color:#FEAD25!important;
    }
.min-ancho{
    min-width: 7.5rem!important;
}
.min-ancho-1{
    min-width: 7.5rem!important;
    
}
.min-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    // margin-left: -15px;
    margin-left: 0!important;
}
// corregir
// .app-main__inner {
//     padding: $grid-gutter-width $grid-gutter-width 0;
//     // padding: 15px 15px 0!important;
// }
.row-paddin{
    padding-left: 1rem;
}
.row-center{
    text-align: center!important; 
    // padding: 0 7rem;
}
.row-center-2{
    // text-align: center!important; 
    padding: 0 5rem;
}
.totals{
    background:#FFAA00!important; 
    font-weight: 500;
    color: #210000;
}
.sub-totals{
    background:#F8DEAB!important; 
    font-weight: 500!important; 
    color: #210000!important; 
    // width: auto!important;
}
@media screen and (min-width: 1024px) {
    #div_panel_01_cabecera1,.div_panel_cabecera, .info-box{
        display: flex;
    }
    .closed-sidebar .app-main__outer {
        padding-top: 0px!important;
    }
}
.bg-graph-primary{
    background-color:#2266d3!important;
}
.bg-graph-tertiary{
    background-color:#fd7e14!important;
}
.bg-graph-quaternary {
    background-color:#17a2b8!important;
}