@import "assets/base";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./main.css";

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~ag-grid-community/src/styles/ag-theme-bootstrap/sass/ag-theme-bootstrap.scss';
.app-theme-white .app-sidebar .app-sidebar-content {
    background: RGB(16,0,76);
}
.app-header__logo {
    // background: RGB(16,0,76) !important;
}
.v-sidebar-menu .vsm-header {
    color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm-link {
    color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm-link:hover,
.v-sidebar-menu .vsm-link.active-item,
.app-sidebar.text-lighter .v-sidebar-menu .vsm-item.active-item > .vsm-link,
.app-sidebar.text-darker .v-sidebar-menu .vsm-item.active-item > .vsm-link {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm-dropdown::before {
    background: rgba(255, 255, 255, 0.1);
}
.closed-sidebar .app-sidebar .v-sidebar-menu .vsm-header::before {
    background: rgba(255, 255, 255, 0.1);
}
.app-theme-white .app-sidebar .app-header__logo,
.app-theme-white .app-footer .app-footer__inner,
.app-theme-white .app-header {
    background: #ffffff;
}
.dropdown-menu-lg {
    min-width: 22rem;
}
/* .dropdown-menu-header .menu-header-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  opacity: 0.25;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  background-size: cover;
} */
.dropdown-menu .dropdown-menu-header,
.dropdown-menu .menu-header-image,
.dropdown-menu .dropdown-menu-header-inner {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
/* .dd-header-bg-6 {
  background: url(./assets/images/dropdown-header/city3.jpg);
} */

.opacity-2 {
    opacity: 0.2 !important;
}
.dropdown-menu-header .dropdown-menu-header-inner {
    margin: -1px -1px 0;
    padding: 1.5rem 0.5rem;
    position: relative;
}
.bg-info {
    background-color: #16aaff !important;
}
.dropdown-menu-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0.65rem;
    position: relative;
    z-index: 6;
}
.app-header .app-header__content .app-header-center {
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 0 15rem;
}

.alert {
    position: fixed;
    z-index: 999;
    right: 1em;
    bottom: 0;
}
.app-header .logo-mobile {
    display: none;
    // order: 2;
}
@media (max-width: 991.98px) {
    .app-theme-white .app-sidebar .app-header__logo,
    .app-theme-white .app-footer .app-footer__inner,
    .app-theme-white .app-header {
        background-color: RGB(16,0,76);
    }

    .app-header .logo-mobile {
        display: block;
        order: 2;
    }
    .app-header .app-header__content .app-header-center {
        align-items: center;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0 0 0 0rem;
    }
    h5,
    .h5 {
        font-size: 0.9rem;
    }
    .popover,
    .dropdown-menu {
        top: 35% !important;
    }
}
.font-size-lg {
    font-size: 0.9rem !important;
}

/* MODAL SIZES */
.xl > .modal-dialog {
    max-width: 1490px !important;
    min-width: 971px !important;
    width: 95% !important;
}

.list-group-horizontal{
    flex-direction: row!important;
    margin-left: 15px!important;
}
.ngx-datatable.bootstrap .datatable-footer {
    background-color: #10004c!important;
}
.datatable-header{
    font-weight: 600;
}
.datatable-header, .datatable-body{
    width: auto!important;
    }
.datatable-body{
        width: auto!important;
        font-size: 12px;
}
.ngx-datatable.bootstrap .datatable-header{
    color: #10004c!important;
    background-color:#FEAD25!important;
    }
.min-ancho{
    min-width: 7.5rem!important;
}
.min-ancho-1{
    min-width: 7.5rem!important;
    
}
.min-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    // margin-left: -15px;
    margin-left: 0!important;
}
// corregir
// .app-main__inner {
//     padding: $grid-gutter-width $grid-gutter-width 0;
//     // padding: 15px 15px 0!important;
// }
.row-paddin{
    padding-left: 1rem;
}
.row-paddin-doble{
    padding-left: 2rem;
}
.row-center{
    text-align: center!important; 
    // padding: 0 7rem;
}
.row-center-2{
    // text-align: center!important; 
    padding: 0 5rem;
}
.datatable-summary-row .datatable-body-row, .totals{
    background:#FFAA00!important; 
    font-weight: 500;
    color: #210000;
}
.sub-totals{
    background:#F8DEAB!important; 
    font-weight: 500!important; 
    color: #210000!important; 
    // width: auto!important;
}
@media screen and (min-width: 1024px) {
    #div_panel_01_cabecera1,.div_panel_cabecera, .info-box{
        display: flex;
    }
    .closed-sidebar .app-main__outer {
        padding-top: 0px!important;
    }
    ngx-datatable{
        margin-left:0.7%!important;
        width:98.5%!important;
     }
}
@media screen and ( max-height: 719px ){
    .closed-sidebar .app-main__outer {
        padding-top: 3%!important;
    }
}
@media(min-height:720px) and (max-height:850px)
{
    .closed-sidebar .app-main__outer {
        padding-top: 1%!important;
    }

}
.bg-graph-primary{
    background-color:#2266d3!important;
}
.bg-graph-tertiary{
    background-color:#fd7e14!important;
}
.bg-graph-quaternary {
    background-color:#17a2b8!important;
}
.cell-red{
    color: red!important;
}
.ag-header-row.ag-header-row-column-group{
    background-color: #FEAD25 !important;

}

.ag-header-group-cell-label{
    justify-content: center!important;
    font-weight: 700!important;
    color: #190075 !important;

}
.ag-header-row.ag-header-row-column{
    background-color: #FEAD25!important;
    color: #190075 !important;
    font-weight: 600!important;
    border-bottom-color: #190075 !important;
}

.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after{
    background-color: #190075 !important;
}
.ag-theme-balham .ag-header{
    border-bottom-color: #190075 !important;
}
.ag-theme-balham .ag-header-row:not(:first-child) .ag-header-cell, .ag-theme-balham .ag-header-row:not(:first-child) .ag-header-group-cell.ag-header-group-cell-with-group {

    border-top-color: #190075!important;
}

.ag-header-cell-label {
    justify-content: center!important;
}
.row-paddin .ag-cell:first-child{
    margin-left: 1rem;
}

.datatable-body-cell {
    line-height: 0.9rem !important;
    padding: 0.2rem 0.75rem !important;
   // text-align: left !important;
    vertical-align: middle !important;
    line-height: 1.625 !important;
}
.datatable-header-cell {
    line-height: 1.01rem !important;
    padding: 0.2rem 0.75rem !important;
   // text-align: left !important;
    vertical-align: middle !important;
}

.card-header {
    padding: 0.70rem 1.25rem 0rem 1.25rem;
}

.card-header-info {
    height: 35px;
    border-color: #FFAA00;
    border-radius: 5px;
    background-color: #FFAA00 !important;
  }

 .callout.text-center{
    height: 30px;
    padding: 0px 5px;
    width: 100%;
    margin-top: -30px; 
    margin-bottom: 20px;
}

.callout.callout-info {
    height: 36px;
    padding: 6px 15px;
    color: white;
    background-color: #10004C !important;
    margin-left: 10px;
    width: 100%;
}

.table th, .table td {
    padding: 0.2rem;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
    font-size: 12px;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #e9ecef;
    background: #FFAA00;
    font-size: 12px;
}

.card-body {
    padding: 0.8rem 1.25rem;
}

.p-3 {
    padding: 0.2rem 1rem !important;
}

.btn-outline-primary {
    color: #10004C;
    border-color: #10004C;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-outline-primary:hover {
    background: #FFF;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card {
    border-radius: 0.25rem;
    margin: 20px 0px;
}
.text-rigth {
    text-align: right!important;
 }
 datatable-summary-row .datatable-body-cell:first-child{
    text-align: center!important;
}