<div class="modal-header">
  <h4 class="modal-title">{{dato.TitularNombre}}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
    <a ngbNavLink>Datos de Morosidad</a>
      <ng-template ngbNavContent>
        <form [formGroup]="accionForm" class="mt-3 p-4">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="ProgramaAbrev"
                >Programa</label
              >
              <input id="ProgramaAbrev" type="text" class="form-control form-control-sm" readonly value={{dato.ProgramaAbrev}}>
            </div>
            <div class="form-group col-md-4">
              <label for="idAfiliado"
                >Id Afiliado</label
              >
              <input id="idAfiliado" type="text" class="form-control form-control-sm" readonly value={{dato.idAfiliado}}>
            </div>
            <div class="form-group col-md-4">
              <label  for="FechacioContrato"
                >Fecha Contrato</label
              >
              <input id="FechacioContrato" type="text" class="form-control form-control-sm" readonly value={{dato.FechacioContrato}}>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="CorreoElectronico"
                >Email</label
              >
              <input id="CorreoElectronico" type="text" class="form-control form-control-sm" readonly value={{dato.CorreoElectronico}}>
            </div>
            <div class="form-group col-md-4">
              <label for="Celular"
                >Celular</label
              >
              <input id="Celular" type="text" class="form-control form-control-sm" readonly value={{dato.Celular}}>
            </div>
            <div class="form-group col-md-4">
              <label  for="Telefono"
                >Teléfono</label
              >
              <input id="Telefono" type="text" class="form-control form-control-sm" readonly value={{dato.Telefono}}>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="ImpCuotasVencidas"
                >Importe</label
              >
              <input id="ImpCuotasVencidas" type="text" class="form-control form-control-sm" readonly value={{_cp.transform(dato.ImpCuotasVencidas)}}>
            </div>
            <div class="form-group col-md-4">
              <label for="TotalMiembros"
                >Miembros</label
              >
              <input id="TotalMiembros" type="text" class="form-control form-control-sm" readonly value={{dato.TotalMiembros}}>
            </div>
            <div class="form-group col-md-4">
              <label  for="CuotasVencidas"
                >Cuotas</label
              >
              <input id="CuotasVencidas" type="text" class="form-control form-control-sm" readonly value={{dato.CuotasVencidas}}>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-8">
              <label for="periodos_deuda"
                >Períodos de Deuda</label
              >
              <input id="periodos_deuda" type="text" class="form-control form-control-sm" readonly value={{dato.periodos_deuda}}>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Acción</a>
      <ng-template ngbNavContent>
        <form [formGroup]="accionForm">
          <div class="row p-5">
            <div class="form-group col-md-4">
              <label for="fecha">Fecha</label>
              <div class="input-group">
                <input
                  type="date"
                  [(ngModel)]="fecha"
                  formControlName="fecha"
                  class="form-control form-control-sm"
                  id="fecha"
                />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="hora">Hora</label>
              <div class="input-group">
                <input
                  type="time"
                  [(ngModel)]="hora"
                  formControlName="hora"
                  class="form-control form-control-sm"
                  id="hora"
                />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="medio_comunicacion">Medio de comunicación</label>
              <select
                formControlName="medio_comunicacion"
                class="form-control form-select form-control-sm"
                id="medio_comunicacion"
              >
                <option value="">Seleccionar ....</option>
                <option value="1">Correo Electronico</option>
                <option value="2">Via Telefónica</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="exito_comunicacion">¿Éxito en la comunicación?</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="1"
                      id="exito_comunicacion1"
                      formControlName="exito_comunicacion"
                      [(ngModel)]="exito_comunicacion" 
                    />
                    <label class="form-check-label" for="gridRadios2c">
                      Si
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="2"
                      id="exito_comunicacion2"
                      formControlName="exito_comunicacion"
                      [(ngModel)]="exito_comunicacion" 
                    />
                    <label class="form-check-label" for="gridRadios3c">
                      No
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4" *ngIf="exito_comunicacion == 1">
              <label for="contacto"
                >Contacto</label
              >
              <select
                id="contacto"                  
                [ngClass]="{
                  'is-invalid': submitter_accion && s.contacto.errors
                }"
                class="form-control form-select form-control-sm"
                formControlName="contacto"
              >
                <option value="">Seleccione...</option>
                <option value="1">Titular</option>
                <option value="2">Esposo(a)</option>
                <option value="3">Hijo(a)</option>
                <option value="4">Padre</option>
                <option value="5">Madre</option>
                <option value="6">Otro Familiar</option>
              </select>
              <!-- <div
                *ngIf="submitter_accion && s.contacto.errors"
                class="invalid-feedback"
              >
                <div *ngIf="s.contacto.errors.required">Campo requerido</div>
              </div> -->
            </div>
            <div class="form-group col-md-4" *ngIf="exito_comunicacion == 2">
              <label for="motivo"
                >Motivo</label
              >
              <select
                id="motivo"                  
                [ngClass]="{
                  'is-invalid': submitter_accion && s.motivo.errors
                }"
                class="form-control form-select form-control-sm"
                formControlName="motivo"
              >
                <option value="">Seleccione...</option>
                <option value="01">No respondieron</option>
                <option value="02">Contacto equivocado</option>
                <option value="03">Contacto no se encontraba disponible</option>
              </select>
              <!-- <div
                *ngIf="submitter_accion && s.motivo.errors"
                class="invalid-feedback"
              >
                <div *ngIf="s.motivo.errors.required">Campo requerido</div>
              </div> -->
            </div>
            <div class="form-group col-md-12" *ngIf="exito_comunicacion == 1">
              <label for="observaciones">Observaciones</label>
              <textarea
                class="form-control form-control-sm"
                rows="5"
                formControlName="observaciones"
              ></textarea>
            </div>
            <div class="form-group col-md-12" *ngIf="exito_comunicacion == 1">
              <label for="compromiso" class="form-label">Compromiso de cuotas a pagar</label>
              <ngx-slider [(value)]="value" formControlName="compromiso" id="compromiso" [options]="options"></ngx-slider>
              Valor seleccionado: {{value}}
            </div>
            <div class="form-group col-md-8" *ngIf="exito_comunicacion == 1 && value > 0">
              <label for="periodos_deuda"
                >Modificar Períodos de deuda</label
              >
              <input id="cuotas" type="text" formControlName="cuotas" class="form-control form-control-sm" value={{cuotas}}>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Seguimiento</a>
      <ng-template ngbNavContent>
        <div class="card mt-4">
          <!-- <div class="card-header">
            <div class="row">
              <div class="col-md-1">
                <select
                  class="custom-select form-select"
                  style="width: auto"
                  [(ngModel)]="pageSize"
                  (ngModelChange)="refreshCountries()"
                >
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                  <option [ngValue]="150">150</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="card-body">
            <div class="table-responsive p-4">
              <ngx-datatable #myTable
              class="bootstrap table table-striped"
              id="datatablele"
                [columns]="columns"
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [headerHeight]="$any('auto')"
                [footerHeight]="65"
                [rowHeight]="$any('auto')"
                [scrollbarH]="true"
                [limit]="10"
                [selected]="selected"
                [selectionType]="SelectionType.single"
                >
                <ngx-datatable-column [flexGrow]="1" [minWidth]="90" [width]="column.width" [pipe]="column.pipe" *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                  <ng-template  ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                    let-row="row">
                    <span [title]="value">{{value}}</span>
                    
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <!-- <table
                class="
                  align-middle
                  text-truncate
                  mb-0
                  table table-sm table-borderless table-hover
                "
              >
                <thead>
                  <tr>
                    <th>F.inicio</th>
                    <th>F.Culminación</th>
                    <th>T.Reclamo</th>
                    <th>C.Asignado</th>
                    <th>C.Adoptado</th>
                    <th>Naturaleza</th>
                    <th>P.M.Adoptada</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of medidas">
                    <td>{{ diaEvento(item.fecha_inicio) }}</td>
                    <td>{{ diaEvento(item.fecha_culminacion) }}</td>
                    <td>{{ getTipoReclamo(item.tipo_reclamo) }}</td>
                    <td>{{ item.codigo_unico }}</td>
                    <td>{{ item.codigo_adoptado }}</td>
                    <td>{{ getNaturaleza(item.naturaleza) }}</td>
                    <td>{{ getProceso(item.processo_adoptada) }}</td>
                    <td>
                      <div role="group" class="btn-group-sm btn-group">
                        <button
                          (click)="openModalMedida(2, item)"
                          class="btn-shadow btn btn-outline-success"
                        >
                          <i class="pe-7s-note btn-icon-wrapper"> </i>
                        </button>
                        <button
                          (click)="showDelete(item.id)"
                          class="btn-shadow btn btn-outline-danger"
                        >
                          <i class="pe-7s-trash btn-icon-wrapper"> </i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table> -->
            </div>
            <!-- <div class="p-2">
              <ngb-pagination
                class="float-right"
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshCountries()"
              >
                <ng-template ngbPaginationPrevious>
                  <i class="fa fa-chevron-left"></i
                ></ng-template>
                <ng-template ngbPaginationNext
                  ><i class="fa fa-chevron-right"></i
                ></ng-template>
              </ngb-pagination>
            </div> -->
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="modal-footer">
  <button
    type="button"
    (click)="saveComunication()"
    class="btn btn-primary"
  >
    <i class="pe-7s-diskette"></i> Guardar
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    <i class="pe-7s-less"></i> Cancelar
  </button>
</div>
