<div class="modal-header">
  <h4 class="modal-title">{{dato.TitularNombre}}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
    <a ngbNavLink>Datos de Morosidad</a>
      <ng-template ngbNavContent>
        <form [formGroup]="accionForm" class="mt-3 p-4">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="ProgramaAbrev"
                >Programa</label
              >
              <input id="ProgramaAbrev" type="text" class="form-control form-control-sm" readonly value={{dato.ProgramaAbrev}}>
            </div>
            <div class="form-group col-md-4">
              <label for="idAfiliado"
                >Id Afiliado</label
              >
              <input id="idAfiliado" type="text" class="form-control form-control-sm" readonly value={{dato.idAfiliado}}>
            </div>
            <div class="form-group col-md-4">
              <label  for="FechacioContrato"
                >Fecha Contrato</label
              >
              <input id="FechacioContrato" type="text" class="form-control form-control-sm" readonly value={{dato.FechacioContrato}}>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="CorreoElectronico"
                >Email</label
              >
              <input id="CorreoElectronico" type="text" class="form-control form-control-sm" readonly value={{dato.CorreoElectronico}}>
            </div>
            <div class="form-group col-md-4">
              <label for="Celular"
                >Celular</label
              >
              <input id="Celular" type="text" class="form-control form-control-sm" readonly value={{dato.Celular}}>
            </div>
            <div class="form-group col-md-4">
              <label  for="Telefono"
                >Teléfono</label
              >
              <input id="Telefono" type="text" class="form-control form-control-sm" readonly value={{dato.Telefono}}>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="ImpCuotasVencidas"
                >Importe</label
              >
              <input id="ImpCuotasVencidas" type="text" class="form-control form-control-sm" readonly value={{dato.ImpCuotasVencidas}}>
            </div>
            <div class="form-group col-md-4">
              <label for="TotalMiembros"
                >Miembros</label
              >
              <input id="TotalMiembros" type="text" class="form-control form-control-sm" readonly value={{dato.TotalMiembros}}>
            </div>
            <div class="form-group col-md-4">
              <label  for="CuotasVencidas"
                >Cuotas</label
              >
              <input id="CuotasVencidas" type="text" class="form-control form-control-sm" readonly value={{dato.CuotasVencidas}}>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="periodos_deuda"
                >Períodos de Deuda</label
              >
              <input id="periodos_deuda" type="text" class="form-control form-control-sm" readonly value={{dato.periodos_deuda}}>
            </div>
          </div>
          <!-- <div class="row">
            <div class="form-group col-md-8">
              <label for="competencia"
                >Competencia para la atención del reclamo</label
              ><span class="text-danger">*</span>
              <select
                id="competencia"
                [ngModel]="listDetalle[0]?.id_competencia_atencion"
                formControlName="competencia"
                [ngClass]="{
                  'is-invalid': submitter_accion && s.competencia.errors
                }"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione...</option>
                <option value="1">Si</option>
                <option value="2">No</option>
                <option value="3">Compartida</option>
              </select>
              <div
                *ngIf="submitter_accion && s.competencia.errors"
                class="invalid-feedback"
              >
                <div *ngIf="s.competencia.errors.required">Campo requerido</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="estado">Estado</label>
              <select
                id="estado"
                [ngModel]="listDetalle[0]?.id_estado_v2"
                (change)="onChangeEstado($event)"
                formControlName="estado"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione...</option>
                <option
                  *ngFor="let item of listestado"
                  value="{{ item.id_estado }}"
                >
                  {{ item.v_decripcion }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-4" *ngIf="showreclamoprimigenio">
              <label for="codigoreclamo">Código de Reclamo Primigenio</label>
              <div class="input-group">
                <input
                  type="text"
                  [(ngModel)]="codigo_reclamo"
                  formControlName="codigoreclamo"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="estapareclamo">Etapa del Reclamo</label>
              <select
                formControlName="estapareclamo"
                class="form-control form-select form-control-sm"
                [ngModel]="listDetalle[0]?.estapa_reclamo"
              >
                <option value="">Seleccione ...</option>
                <option value="1">Adminisón y Registro</option>
                <option value="2">Evaluacion e Investigacion</option>
                <option value="3">Resulado y Notificación</option>
                <option value="4">Archivo y Custodia del Expediente</option>
              </select>
            </div>
          </div>
          <div class="row" *ngIf="showtraslado">
            <div class="form-group col-md-4">
              <label for="tipoadministrador">Tipo de Administrado </label>
              <select
                formControlName="tipoadministrador"
                [(ngModel)]="tipoadmin"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione ...</option>
                <option value="1">IPRESS</option>
                <option value="2">UGIPRESS</option>
                <option value="3">IAFAS</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="codigoadmin">Código del administrado</label>
              <div class="input-group">
                <input
                  type="text"
                  [(ngModel)]="codigoadmin"
                  formControlName="codigoadmin"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="resultado_reclamo">Resultado Reclamo </label>
              <select
                formControlName="resultado_reclamo"
                [(ngModel)]="resultado_reclamo"
                (change)="onChangeResultadoreclamo($event)"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione ...</option>
                <option
                  value="{{ item.id_resultado_v2 }}"
                  *ngFor="let item of listresultadoreclamo"
                >
                  {{ item.v_descripcion_v2 }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-4" *ngIf="showmotivo">
              <label for="motivo">Motivo de Conclusión anticipada</label>
              <select
                formControlName="motivo"
                [(ngModel)]="motivo"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione ...</option>
                <option value="{{ item.id }}" *ngFor="let item of listmotivo">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="fechasolucion">Fecha de Solución </label>
                  <div class="input-group">
                    <input
                      type="date"
                      [(ngModel)]="fechasolucion"
                      formControlName="fechasolucion"
                      class="form-control form-control-sm"
                    />
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="horasolucion">hora </label>
                  <div class="input-group">
                    <input
                      type="time"
                      [(ngModel)]="horasolucion"
                      formControlName="horasolucion"
                      class="form-control form-control-sm"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="solucion_al_reclamo">Solución al Reclamo</label>
              <textarea
                class="form-control form-control-sm"
                [ngModel]="listDetalle[0]?.detalle_reclamo"
                formControlName="solucion_al_reclamo"
                rows="5"
              ></textarea>
            </div>
          </div> -->
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Acción</a>
      <ng-template ngbNavContent>
        <form [formGroup]="accionForm">
          <div class="row p-5">
            <div class="form-group col-md-4">
              <label for="fecha">Fecha</label>
              <div class="input-group">
                <input
                  type="date"
                  [(ngModel)]="fecha_respuesta"
                  formControlName="fecha"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="hora">Hora</label>
              <div class="input-group">
                <input
                  type="time"
                  [(ngModel)]="fecha_respuesta_hora"
                  formControlName="hora"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="forma_entrega">Medio de comunicación</label>
              <select
                
                formControlName="forma_entrega"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccionar ....</option>
                <option value="1">Correo Electronico</option>
                <option value="2">Via Telefónica</option>
                <!-- <option value="3">Courier</option>
                <option value="4">Otros</option> -->
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="forma_entrega">¿Éxito en la comunicación?</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="1"
                      id="exito1"
                      formControlName="exito"
                      [(ngModel)]="exito" 
                    />
                    <label class="form-check-label" for="gridRadios2c">
                      Si
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="2"
                      id="exito2"
                      formControlName="exito"
                      [(ngModel)]="exito" 
                    />
                    <label class="form-check-label" for="gridRadios3c">
                      No
                    </label>
                  </div>
                </div>
                <!-- Valor seleccionado: {{exito}} -->
              </div>
            </div>
            <div class="form-group col-md-4" *ngIf="exito == 1">
              <label for="contacto"
                >Contacto</label
              >
              <select
                id="contacto"                  
                [ngClass]="{
                  'is-invalid': submitter_accion && s.contacto.errors
                }"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione...</option>
                <option value="Titular">Titular</option>
                <option value="Esposo(a)">Esposo(a)</option>
                <option value="Hijo(a)">Hijo(a)</option>
                <option value="Padre">Padre</option>
                <option value="Otro Familiar">Otro Familiar</option>
              </select>
              <div
                *ngIf="submitter_accion && s.contacto.errors"
                class="invalid-feedback"
              >
                <div *ngIf="s.contacto.errors.required">Campo requerido</div>
              </div>
            </div>
            <div class="form-group col-md-4" *ngIf="exito == 2">
              <label for="motivo"
                >Motivo</label
              >
              <select
                id="motivo"                  
                [ngClass]="{
                  'is-invalid': submitter_accion && s.motivo.errors
                }"
                class="form-control form-select form-control-sm"
              >
                <option value="">Seleccione...</option>
                <option value="No respondieron">No respondieron</option>
                <option value="Contacto equivocado">Contacto equivocado</option>
                <option value="Contacto no se encontraba disponible">Contacto no se encontraba disponible</option>
              </select>
              <div
                *ngIf="submitter_accion && s.motivo.errors"
                class="invalid-feedback"
              >
                <div *ngIf="s.motivo.errors.required">Campo requerido</div>
              </div>
            </div>
            <div class="form-group col-md-12" *ngIf="exito == 1">
              <label for="solucion_al_reclamo">Observaciones</label>
              <textarea
                class="form-control form-control-sm"
                rows="5"
              ></textarea>
            </div>
            <div class="form-group col-md-12" *ngIf="exito == 1">
              <label for="compromiso" class="form-label">Compromiso de cuotas a pagar</label>
              <ngx-slider [(value)]="value" id="compromiso" [options]="options"></ngx-slider>
              Valor seleccionado: {{value}}
            </div>
            <div class="form-group col-md-4" *ngIf="exito == 1 && value > 0">
              <label for="periodos_deuda"
                >Modificar Períodos de deuda</label
              >
              <input id="periodos_deuda" type="text" class="form-control form-control-sm" value={{dato.periodos_deuda}}>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Seguimiento</a>
      <ng-template ngbNavContent>
        <div class="card mt-4">
          <div class="card-header">
            <div class="row">
              <div class="col-md-1">
                <select
                  class="custom-select form-select"
                  style="width: auto"
                  [(ngModel)]="pageSize"
                  (ngModelChange)="refreshCountries()"
                >
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                  <option [ngValue]="150">150</option>
                </select>
              </div>
              <!-- <div class="col-md-11 p-1">
                <button
                  class="button btn btn-icon btn-sm btn-primary"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Agregar"
                  (click)="openModalMedida(1, '')"
                >
                  <i class="fa fa-plus"></i> Agregar Acciones
                </button>
              </div> -->
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive p-4">
              <table
                class="
                  align-middle
                  text-truncate
                  mb-0
                  table table-sm table-borderless table-hover
                "
              >
                <thead>
                  <tr>
                    <th>F.inicio</th>
                    <th>F.Culminación</th>
                    <th>T.Reclamo</th>
                    <th>C.Asignado</th>
                    <th>C.Adoptado</th>
                    <th>Naturaleza</th>
                    <th>P.M.Adoptada</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of medidas">
                    <td>{{ diaEvento(item.fecha_inicio) }}</td>
                    <td>{{ diaEvento(item.fecha_culminacion) }}</td>
                    <td>{{ getTipoReclamo(item.tipo_reclamo) }}</td>
                    <td>{{ item.codigo_unico }}</td>
                    <td>{{ item.codigo_adoptado }}</td>
                    <td>{{ getNaturaleza(item.naturaleza) }}</td>
                    <td>{{ getProceso(item.processo_adoptada) }}</td>
                    <td>
                      <div role="group" class="btn-group-sm btn-group">
                        <button
                          (click)="openModalMedida(2, item)"
                          class="btn-shadow btn btn-outline-success"
                        >
                          <i class="pe-7s-note btn-icon-wrapper"> </i>
                        </button>
                        <button
                          (click)="showDelete(item.id)"
                          class="btn-shadow btn btn-outline-danger"
                        >
                          <i class="pe-7s-trash btn-icon-wrapper"> </i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="p-2">
              <ngb-pagination
                class="float-right"
                [collectionSize]="collectionSize"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="refreshCountries()"
              >
                <ng-template ngbPaginationPrevious>
                  <i class="fa fa-chevron-left"></i
                ></ng-template>
                <ng-template ngbPaginationNext
                  ><i class="fa fa-chevron-right"></i
                ></ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="modal-footer">
  <button
    type="button"
    (click)="updateRespuestaReclamo()"
    class="btn btn-primary"
  >
    <i class="pe-7s-diskette"></i> Guardar
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    <i class="pe-7s-less"></i> Cancelar
  </button>
</div>
